.container{
    background-image: url('img/adocao.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200vh;
    height: 500vh;
}

.part-div{
    background-color: rgb(177, 66, 84);
}