:root{
    --primary-clr:#52BACB;
    --title-color:#2b2b2b;
    --edit-color: #FD811C;
}

.table{
    width: 900px;
}

.container-tabela{
    margin: 19px;
}
.container-tabela h1{
    font-weight: 600;
    font-size: 1.7em;
    margin-bottom: 25px;
    color: var(--title-color)
}
.table table{
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    overflow-x:auto;
    box-shadow: 20px 20px 20px #dfdfdf;
}

.table table td{
    text-align: center;
    padding: 0.7em;
    
}
.table table th{
    color: #fff;
    font-weight: 600;
    padding: 0.5em;
}
.table table th{
    background-color: var(--primary-clr);
}

.table th, td {
    border: none;
}

tr:nth-child(odd) {
    background-color: #F5F5F5;
}
tr:nth-child(even) {
    background-color: #ffffff;
}

table td button{
    background-color: transparent;
    padding: 0.3em;
    font-weight: 600;
    border: none;
}

.table .fa-solid{
    color: #787575;
    margin: 20px;
    cursor:pointer;
}

table th:nth-child(2), table td:nth-child(2) {
    width: 50px;
}

table th:nth-child(4), table td:nth-child(4) {
    width: 170px;
}

table th:nth-child(5), table td:nth-child(5) {
    width: 100px;
}