:root{
    --primary-clr:#52BACB;
    --title-color:#272727;
    --edit-color: #FD811C;
}

.table{
    width: 100%;
}

.container-tabela{
    margin: 30px;
}
.container-tabela h1{
    font-weight: 600;
    font-size: 1.7em;
    margin-bottom: 25px;
    color: var(--title-color)
}
.table table{
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    overflow-x:auto;
}

.table table td{
    text-align: center;
    padding: 1.4em;
    
}
.table table th{
    color: #fff;
    font-weight: 500;
    padding: 0.5em;
}
.table table th{
    background-color: var(--primary-clr);
}

.table th, td {
    border: none;
}

tr:nth-child(odd) {
    background-color: #F5F5F5;
}
tr:nth-child(even) {
    background-color: #ffffff;
}

table td button{
    background-color: transparent;
    padding: 0.3em;
    font-weight: 600;
    border: none;
}

.table .fa-solid{
    color: #787575;
    margin: 20px;
}