@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Bold.ttf");
}

@font-face {
    font-family: 'baloo';
    src: url("../font/baloo/Baloo-Regular.ttf");
}

@font-face {
    font-family: 'poppins';
    src: url("../font/poppins/Poppins-Medium.ttf");
}

body {
    background-color: #FFD371;
}
*{
    font-family: poppins;
}

.logo {
    font-family: baloo;
    margin-top: 60px;
    position: absolute;
    left: 30%;
    font-weight: 500;

}

p{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 1020px;
    height: 90%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    box-shadow: 20px 20px 20px #d8b363;
}

.form {
    position: absolute;
    left: 32%;
    top: 2%;

}
.form h1{
   
        font-family:baloo;
        font-size: 55px;
        color: #52BACB;
}

select{
    width: 180px;
    height: 40px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: transparent; 
    color: #333; 
    font-size: 16px; 
    cursor: pointer; 
    margin-bottom: 20px;
    display:inline-flex;
}


.blue-div {
    font-family: baloo;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 280px;
    left: 0%;
    height: 100%;
    margin-top: 0%;
    background-image: url('img/fundocachorro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.label-agend{
    display: block;
    font-size: 17px;
}

.selecionar-pet{
    width: 190px;
}

.selecionar-data{
    width: 400px;
}

.selecionar-servico{
    width: 230px;
}

.btn-verificar{
    width: 230px;
    height: 40px;
    background-color: transparent;
    border: 3.5px solid  #FD811C;
    color: #FD811C;
    margin-bottom: 10px;
    font-size: 17px;
    border-radius: 10px;
    font-family: baloo;
}

.btn-confirmar{
    width: 230px;
    height: 40px;
    color: #fff;
    border: 3.5px solid  #FD811C;
    background-color: #FD811C;
    font-size: 17px;
    border-radius: 10px;
    font-family: baloo;
}

.span-erro{
    font-size: 17px;
    margin-top: 20px;
}

.span-custo{
    position: absolute;
    font-size: 14px;
    margin-top: 60px;
    left: 4%;
    color: #8a8a8a;

}

.btn-confirmar:hover {
    background-color: #fff;
    color: #FD811C;
}


.btn-verificar:hover {
    background-color: #FD811C;
    color: #fff;
}