@font-face {
    font-family:'baloo';
    src:url("../font/Baloo-Regular.ttf");
}

.navbar-brand{
    color: #FA5909;
    font-family:baloo;
    font-size: 25px;
    padding: 0;
}

#navbar{
    background-color: rgb(255, 247, 247);
}
