@font-face {
    font-family: 'baloo';
    src: url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family: 'league-r';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}
.navbar-brand {
    color: #FA5909;
    font-family: baloo;
    font-size: 25px;
    padding: 0;
}
.navbar-brand:hover {
    color: #FA5909;
    font-family: baloo;
    font-size: 25px;
    padding: 0;
}
#navbar {
    height: 45px;
    background-color: rgb(255, 255, 255);
}
.nav-link {
    font-family: league-r;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    color: rgb(19, 19, 19);
    margin-right: 20px;
    font-weight: 500;
}
.dropdown-item {
    font-family: league-r;
    font-optical-sizing: auto;
    font-weight: 500;
}
#navbarSupportedContent{
    margin-left:40px;   
}
.btn-login {
    font-family: league;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 3.5px solid #52BACB;
    width: 150px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #52BACB;
    margin-right: 10px;
}
.btn-cad {
    font-family: league;
    font-size: 18px;
    background-color:#52BACB;
    border-radius: 10px;
    border: 3.5px solid #52BACB;
    width: 150px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #fff; /* Cor do texto no botão */
    text-decoration: none; /* Remova sublinhado de links */
}
.btn-acesso{
    display: inline-block;
    align-items: center;
    position: relative;
}
