@font-face {
    font-family: 'league';
    src: url("../font/static/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family: 'baloo';
    src: url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family: 'oswald';
    src: url("../font/oswald/Oswald-Regular.ttf");
}

body {
    background-color: #FFD371;
}
.container {
    background-color: #fff;
    position: relative;
    width: 980px;
    margin: 0 auto;
    align-items: center;
    height: 80vh;
    margin-top: 6%;
    z-index: 2;
}

.blue-div {
    background-color: #52BACB;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o conteúdo ao topo */
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: 130%;
    background-position: center 95%;
    background-repeat: no-repeat;
    position: absolute;
    width: 280px;
    left: 0;
    height: 80vh;
}
.title-blue-div1 {
    color: #fff;
    font-family: 'baloo';
    margin-bottom: 20px;
}

.title-blue-div2 {
    color: white;
    font-family: 'baloo';
    margin-top: 170px;
}
.title-blue-div3 {
    color: #fff;
    font-size: 20px;
}
.form {
    position: absolute;
    left: 34%;
    top: 1%;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin-top: 2%;
}
.form1{
    margin-top: 7%;
}
.title-title {
    font-size: 60px;
    color: #FD811C;
    font-family: 'baloo';
    margin-bottom: 20px;
}
.sub-title-title {
    font-size: 20px;
    color: #52BACB;
    margin-bottom: 15px;
}
.form-control {
    border: solid #FFD371;
    font-family: 'baloo';
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #000; /* Cor do texto digitado */
}
.form-control::placeholder {
    color: #8c8c8c9a;
}
.form-control:focus {
    border-color: #fcdfa3; /* Cor da borda quando focada */
    outline: none; /* Remove o outline padrão */
}
.form-control1 {
    font-family: 'baloo';
    margin-bottom: 15px;
    margin-top: 5%;
    margin-left: 20px;
}
.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input {
    margin-right: 8px;
}

.radio-group label {
    margin-right: 15px;
}

.btn-custom {
    font-family: 'baloo';
    font-size: 23px;
    background-color: #FD811C;
    border-color: #FD811C;
    border-radius: 20px;
    width: 200px;
    color: white;
    margin-right: 10px;
}

.btn-custom:hover {
    background-color: #fcab65;
    border-color: #fcab65;
    color: white;
}

.final {
    text-align: center;
    margin-top: 60px;
}
.hiper-final{
    text-align: center;
    margin-top: 7px;
    color: #FD811C;
    font-family: baloo;
    text-decoration: none;

}
/*foto e bola*/
.bola{
    background-color: #FFD371;
    width: 220px;
    height: 210px;
    margin-top:150px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.imagem {
    position: absolute;
    top: 522px;
    width: 400px;
    height: 250px;
    left: -44px;
    z-index: 1;
}
.upload-section {
    text-align: center;
    margin: 30px 0;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #ffffff;
    font-family: 'baloo';
    font-size: 20px;
    border: dashed 2px #ffffff;
    border-radius: 10px;
    background-color: #52BACB;
    height: 120px;
    width: 220px;
    margin-top: 15px;
}

#file-upload{
    display: none;
}
.quad-blue{
    background-color: #52BACB;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin-left: 140px;
}
.title-sucesso{
    color: #52BACB;
    font-family: 'baloo';
}
.div-botoes{
    position: absolute;
    bottom: -20%;
    margin-left: 9%;
}

.div-botoess{
    position: absolute;
    bottom: -20%;
    margin-left: 30%;
}
.anexo{
    margin-top: 10px;
    font-size: 20px;
}
