@font-face {
    font-family: 'league';
    src: url("../font/static/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family:'oswald';
    src:url("../font/oswald/Oswald-Regular.ttf");
}
body {
    background-color: #FFD371;
}
.container {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 980px;
    right: 12%;
    margin: 0 auto;
    align-items: center;
    height: 110vh;
    margin-top: 3%;
    z-index: 2;
}
.form-control {
    border: solid #FFD371;
    font-family: baloo;
    width: 100%;
    margin-top: 14%;
    left: 20%;
    border-radius: 20px;
    height: 50px;
}
.form-control::placeholder {
    color: #8C8C8C;
}
.form-control1 {
    font-family: baloo;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100%; /* Add margin to move radio inputs to the right */
}
.title-title {
    font-size: 60px;
    color: #FD811C;
    font-family: baloo;
}
.sub-title-title {
    font-size: 20px;
    color: #52BACB;
}
.form {
    position: absolute;
    left: 37%;
    top: 12%;
}
.blue-div {
    background-color: #52BACB;
    background-size: 130%;
    background-position: center 95%;
    background-repeat: no-repeat;
    position: absolute;
    width: 280px;
    left: 0%;
    margin: 0 auto;
    align-items: center;
    height: 110vh;
}
.title-blue-div1 {
    color: rgb(255, 255, 255);
    font-family: baloo;
    height: 15%;
}
.title-blue-div2 {
    color: white;
    font-family: baloo;
}
.title-blue-div3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.btn-custom {
    top: 10%;
    font-family: baloo;
    font-size: 23px;
    background-color: #FD811C;
    border-color: #FD811C;
    border-radius: 20px;
    width: 250px;
    color: white;
}
.btn-custom:hover {
    background-color: #fcab65;
    border-color: #fcab65;
}
.final {
    text-align: center;
}
.circle {
    width: 200px;
    height: 200px;
    background-color:#FFD371;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/dogcadpet.png');
    background-size: 100px 100px; /* Ajusta o tamanho da imagem */
    background-position: center;
    background-repeat: no-repeat;
}