#agendamento-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#horarios-disponiveis {
    margin-top: 20px;
}

.horario {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilos para o item selecionado */
.horario.selecionado {
    background-color:#2FA8BB ;
    color: #000000;
    font-weight: bolder;
    border-color:#2FA8BB ;
}
input[type="date"] {
    font-size: 16px;
    border: 2px solid #FD811C;
    border-radius: 4px;
    padding: 4px;
    background-color: #FFF;
    color: #131212;
}




