/* Import Google font - Poppins */
@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Bold.ttf");
}
@font-face {
    font-family: 'baloo';
    src: url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family: 'poppins';
    src: url("../font/poppins/Poppins-Medium.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  width: 550px;
  background: #fff;
  border-radius: 10px;
  float: right;
  margin-right: 25px;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: var(--primary-clr);
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #717171ec;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}


.btn-select button{
    font-family: baloo;
    font-size: 23px;
    background-color: #FD811C;
    border: 1px solid #FD811C;
    border-radius: 20px;
    width: 200px;
    color: white;
    cursor: pointer;
}
.btn-select button:hover {
    background-color: #fcab65;
    border-color: #fcab65;
}
body{
    background-color:#FFD371;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.container {
    background-color: #ffffff;
    position: absolute;
    width: 1020px; 
    left: 15%; 
    height: 80%;
    z-index: 2;
    box-shadow: 20px 20px 20px #f2bb5c;
    top: 50%;
    transform: translateY(-50%);
}
:root{
    --primary-clr: #52BACB;
}
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.blue-div {
    background-color: #52BACB;
    position: absolute;
    width: 390px; 
    left: 0%;
    height: 100%;
    margin-top: 0%;
    background-size: cover;
    background-position: center 95%;
    background-repeat: no-repeat;
    display: flex;
    float: left;
}
/* apenas para o diário */
.calendar .days .active{
    color: #fff;
    background-color: var(--primary-clr);
}
/* apenas para o diário */
.calendar .days .active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.calendar .days .event::after{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 65%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}
.calendar .event:hover::after{
    background-color: #fff;
}
.calendar .active::after{
    background-color: #fff;
    bottom:20%;
}
.calendar .goto-today{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.calendar .goto-today .goto{
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}
.calendar .goto-today  button{
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}
.calendar .goto-today  button:hover{
    color: #fff;
    background-color: var(--primary-clr);
}
.calendar .goto-today .goto button{
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}