body {
    background-image: url('img/fundo-patas.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: baloo;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.subtitle {
    color: #ffffff;
    margin-top: 20px;
}

.title-comofunciona {
    color: #F7D577;
    background-color: #FC9242;
    border-radius: 30px;
    padding: 5px 10px;
    display: inline-block;
}

.title-visita,
.title-acompanhamento {
    color: #F7D577;
    background-color: #FC9242;
    border-radius: 30px;
    padding: 5px 10px;
    display: inline-block;
}

.text-visita,
.text-acompanhamento {
    color: #ffffff;
    background-color: #2FA8BB;
    border-radius: 30px;
    padding: 15px 10px;
    display: inline-block;
    margin-top: 10px;
}

.title {
    border-radius: 15px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.img-fluid {
    max-width: 45%;
    height: auto;
    border-radius: 15px;
    margin-top: -70px;
}

.sections-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section {
    margin: 0 10px;
    flex: 1;
}

.separator {
    width: 20px;
    background-color: #FC9242;
    height: 100%;
}
