@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family:'oswald';
    src:url("../font/oswald/Oswald-Regular.ttf");
}

.start {
    background-image: url(img/gatofundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.escritos {
    top: 12%;
    margin-left: 10%;
    position: relative;
    width: 45%;
}
.title-start {
    color: #F7D577;
    font-family: baloo;
    font-size: 85px;
    position: relative;
    z-index: 1;
    line-height: 0.9; 
}
.sub-title-start {
    color: #3b3b3b;
    font-family: baloo;
    font-size: 20px;
}
#doencas {
    background-color: rgb(255, 255, 255);
    height: 600px;
}
.btn-start {
    position: relative;
    font-family: baloo;
    font-size: 25px;
    background-color: #F7D577;
    border: 1px solid #F7D577;
    border-radius: 20px;
    width: 220px;
    color:#2FA8BB;
    margin-top: 5px;
}
.btn-start:hover {
    background-color: #f8e09f;
    border-color: #f8e09f;
}


/* carrossel help */
.valores-info {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;

}

.slide-content {
    margin: 0 40px;
}

.valores-info h2 {
    font-family: baloo;
}

.card {
    border-radius: 25px;
    background-color: #ffffff;
    height: 900px;

}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-image {
    position: relative;
    height: 55px;
    width: 55px;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: #FD811C solid 6px; /* bolinha furada */
}

.slide-container {
    width: 100%;
    padding: 40px 0;
}

.image-content {
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
    padding: 25px 0;
}

.nome-vacina {
    font-family: baloo;
    font-size: 25px;
    font-weight: 500;
    color: #52BACB;
    position: relative;
    bottom: 55px;
    text-align: center;
    align-items: center;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
    position: relative;
    bottom: 60px;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.swiper {
    width: 30%;
}

.btn-img {
    z-index: auto;
    position: absolute;
}

.valor {
    font-size: 30px;
    font-family: baloo;
    position: relative;
    bottom: 30px;
}

.btn-vacinas {
    background-color: #52BACB;  
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    font-size: 18px;
    padding: 8px;
    width: 250px;
    border: none;
    font-family: baloo;
    letter-spacing: 1px;
    position: relative;
    bottom: 45px;
}


/* bolinhas*/
.orange-balls{
    background-color:  #FFD271;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 84%;
    margin-top: -4%;
}
.orange-balls1{
    background-color:  #FFD271;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 95%;
    margin-top: 3%;
}
.orange-balls2{
    background-color:  #FFD271;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 77%;
    margin-top: 3%;
}
.blue-balls{
    background-color:#FD811C;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-left: 89%;
    margin-top: -8%;
}
.blue-balls1{
    background-color:#FD811C;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-left: 88%;
    margin-top: 2%;
}
.blue-balls2{
    background-color:#FD811C;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 84%;
    margin-top: 0%;
}
.blue-balls3{
    background-color:#FD811C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 96%;
    margin-top: -2%;
}
.bolinha-furada{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: #FD811C solid 6px;
    margin-left: 81%;
    margin-top: -8%;
}
.bolinha-furada1{
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 50%;
    border: #FD811C solid 6px;
    margin-left:92%;
    margin-top: -2%;
}

