@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family:'oswald';
    src:url("../font/oswald/Oswald-Regular.ttf");
}

.start {
    background-image: url(img/fundo-cat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -6%;
    width: 100%;
    height: 100vh;
}
.subtitle{
    text-align: center;
    font-family: league;
    font-size: 20px;
    color: #3b3b3b;
}

.escritos {
    top: 12%;
    margin-left: 45%;
    position: relative;
    width: 45%;
}
.title-start {
    color: #ffd371;
    font-family: baloo;
    font-size: 85px;
    position: relative;
    z-index: 1;
    line-height: 0.85; 
}
.sub-title-start {
    color: white;
    font-family: baloo;
    font-size: 20px;
    position: relative;
    margin-top: -9%;
}
#doencas {
    background-color: rgb(255, 255, 255);
    height: 770px;
}
.btn-start {
    position: relative;
    font-family: baloo;
    font-size: 23px;
    background-color: transparent; /* Fundo transparente */
    border: 3px solid #ffcf67; /* Borda laranja */
    border-radius: 20px;
    width: 200px;
    color: #ffcf67; /* Texto laranja */
}

.btn-start:hover {
    background-color: #fddf9d;
    border-color: #fddf9d;
}


/* carrossel help */
.valores-info {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;

}

.slide-content {
    margin: 0 40px;
}

.valores-info h2 {
    font-family: baloo;
}

.card {
    border-radius: 25px;
    background-color: #ffffff;
    height: 900px;
    border-color: #FD811C;

}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    margin-top: 33%;
    height: 300px;
}

.slide-container {
    width: 100%;
}

.nome-vacina {
    font-family: baloo;
    font-size: 30px;
    font-weight: 500;
    color: #FD811C;
    position: relative;
    bottom: 55px;
    text-align: center;
    align-items: center;
}
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
    position: relative;
    bottom: 60px;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.swiper {
    width: 95%;
}
.valor {
    font-size: 30px;
    font-family: baloo;
    position: relative;
    bottom: 30px;
}

.btn-vacinas {
    background-color: #FD811C;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    font-size: 18px;
    padding: 8px;
    width: 90px;
    height: 40px;
    border: none;
    letter-spacing: 1px;
    position: relative;
    bottom: 45px;
    align-items: center;
}
.btn-vacinas:hover{
    background-color: #ffae6b;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    font-size: 18px;
    padding: 8px;
    width: 90px;
    height: 40px;
    border: none;
    font-family: baloo;
    letter-spacing: 1px;
    position: relative;
    bottom: 45px;
}
.titulo-vacina h2 {
    text-align: center;
    align-items: center;
    font-family: baloo;
    font-weight: 800;
    color: #52BACB;
    margin: 35px;
    font-size: 45px;
    height: 70px;
    margin-top: 3%;
}
.textinhos{
    height: 300px;
}


/* bolinhas*/
.orange-balls{
    background-color: #FD811C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 84%;
    margin-top: -4%;
}
.orange-balls1{
    background-color:  #FD811C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 95%;
    margin-top: 3%;
}
.orange-balls2{
    background-color:  #FD811C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 77%;
    margin-top: 3%;
}
.blue-balls{
    background-color:#52BACB;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-left: 89%;
    margin-top: -8%;
}
.blue-balls1{
    background-color:#52BACB;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-left: 88%;
    margin-top: 2%;
}
.blue-balls2{
    background-color:#52BACB;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 84%;
    margin-top: 0%;
}
.blue-balls3{
    background-color:#52BACB;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 96%;
    margin-top: -2%;
}
.bolinha-furada{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: #52BACB solid 6px;
    margin-left: 81%;
    margin-top: -8%;
}
.bolinha-furada1{
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 50%;
    border: #52BACB solid 6px;
    margin-left:92%;
    margin-top: -2%;
}


.btn-custom {
  
    position: relative;
    font-family: baloo;
    font-size: 20px;
    background-color: #FD811C;
    border-color: #FD811C;
    border-radius: 20px;
    width: 200px;
    color: white;
    margin-bottom: 100px;
    left: 42%; 
    top: 100px;
    width: 200px;
    animation: pulsate 3s infinite; /* Aplicando a animação */
    transition: transform 0.3s ease; /* Transição suave */
}

.btn-custom:hover {
    background-color: #fcab65;
    border-color: #fcab65;
    animation: none; /* Parando a animação ao passar o mouse */
}

