@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family:'oswald';
    src:url("../font/oswald/Oswald-Regular.ttf");
}

.start {
    background-color: #FFD371;
    height: 605px;
    position: relative;
}
.espaco {
    height: 48px;
    background-color: #FFD371;
}
.escritos {
    margin-left: 145px;
    margin-top: 20px;
    position: relative;
}
.title-start {
    color: #FA5909;
    font-family: baloo;
    font-size: 80px;
    position: relative;
    z-index: 1;
}
.sub-title-start {
    color: #3b3b3b;
    font-family: baloo;
    font-size: 20px;
}
#doencas {
    background-color: rgb(255, 255, 255);
    height: 600px;
}
.btn-start {
    position: relative;
    font-family: baloo;
    font-size: 23px;
    background-color: #FD811C;
    border-color: #FD811C;
    border-radius: 20px;
    width: 200px;
    color: white;
}
.btn-start:hover {
    background-color: #fcab65;
    border-color: #fcab65;
}
.img-dog {
    width: 750px;
    height: 700px;
    align-items: center;
}
.splash-container {
    width: 500px;
    height: 500px; 
    border-radius: 40% 60% 60% 100% / 50% 80% 50% 50%;
    background-color: white;
    position: absolute;
    margin-top: 25px;
    top: 0; /* Alinha ao topo do contêiner pai */
    left: 560px; 
    
}
.img-dog {
    width: 650px; 
    height: 600px; 
    position: relative;
    right: 75px;
    bottom: 65px;
}

