@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family:'oswald';
    src:url("../font/oswald/Oswald-Regular.ttf");
}

.start {
    background-image: url(img/fundodoen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.escritos {
    top: 12%;
    margin-left: 10%;
    position: relative;
    width: 45%;
}
.title-start {
    color: #FA5909;
    font-family: baloo;
    font-size: 85px;
    position: relative;
    z-index: 1;
}
.sub-title-start {
    color: #3b3b3b;
    font-family: baloo;
    font-size: 20px;
}
#doencas {
    background-color: rgb(255, 255, 255);
    height: 600px;
}
.btn-start {
    position: relative;
    font-family: baloo;
    font-size: 23px;
    background-color: #FD811C;
    border-color: #FD811C;
    border-radius: 20px;
    width: 200px;
    color: white;
}
.btn-start:hover {
    background-color: #fcab65;
    border-color: #fcab65;
}


/* carrossel help */



/* bolinhas*/
.orange-balls{
    background-color:  #FD811C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 84%;
    margin-top: -4%;
}
.orange-balls1{
    background-color:  #FD811C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 95%;
    margin-top: 3%;
}
.orange-balls2{
    background-color:  #FD811C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 77%;
    margin-top: 3%;
}
.blue-balls{
    background-color:#52BACB;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-left: 89%;
    margin-top: -8%;
}
.blue-balls1{
    background-color:#52BACB;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-left: 88%;
    margin-top: 2%;
}
.blue-balls2{
    background-color:#52BACB;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 84%;
    margin-top: 0%;
}
.blue-balls3{
    background-color:#52BACB;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 96%;
    margin-top: -2%;
}
.bolinha-furada{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: #52BACB solid 6px;
    margin-left: 81%;
    margin-top: -8%;
}
.bolinha-furada1{
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 50%;
    border: #52BACB solid 6px;
    margin-left:92%;
    margin-top: -2%;
}

