@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Bold.ttf");
}

@font-face {
    font-family: 'baloo';
    src: url("../font/baloo/Baloo-Regular.ttf");
}

@font-face {
    font-family: 'oswald';
    src: url("../font/oswald/Oswald-Regular.ttf");
}

@font-face {
    font-family: 'poppins';
    src: url("../font/poppins/Poppins-Regular.ttf");
}
.vacinas-valor{
    position: relative;
    top: 300%;
    
}
.valores-info {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    
}

.slide-content {
    margin: 0 40px;
}

.valores-info h2 {
    font-family: baloo;
}

.card {
    border-radius: 25px;
    background-color: #ffffff;
    height: 900px;
    border: 1px solid #a8a8a8;

}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-image {
    position: relative;
    height: 55px;
    width: 55px;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: #FD811C solid 6px;
}

.slide-container {
    width: 100%;
    padding: 40px 0;
}

.image-content {
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
    padding: 25px 0;
}

.nome-vacina {
    font-family: baloo;
    font-size: 25px;
    font-weight: 500;
    color: #52BACB;
    position: relative;
    bottom: 50px;
    text-align: center;
    align-items: center;
}

.description {
    font-size: 14px;
    color: #3e3e3e;
    text-align: center;
    position: relative;
    bottom: 47px;
    font-family: poppins;
    font-weight: 700;
    height:150px;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.swiper {
    width: 95%;
}

.btn-img {
    z-index: auto;
    position: absolute;
}

.valor {
    font-size: 30px;
    font-family: baloo;
    position: relative;
    bottom: 43px;
    
}

.btn-vacinas {
    background-color: #52BACB;
    color: #fff;
    font-weight: 500;
    border-radius: 15px;
    font-size: 18px;
    padding: 8px;
    width: 250px;
    border: none;
    font-family: baloo;
    letter-spacing: 1px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
}

.titulo-vacina h2 {
    text-align: center;
    align-items: center;
    font-family: baloo;
    font-weight: 800;
    color: #FD811C;
    margin: 35px;
    font-size: 60px;
}

.btn-vacinas:hover {
    background-color: #55abb9;
    transition: 0.7s;
}

.fundo-atendimento{
    margin-top: 50px;
    background-image:  url(img/background-atend.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.fundo-atendimento h2{
    color: #ffffff;
    font-family: baloo;
    font-size: 60px;
    margin-left: 20px;
}

.conteudo-atend{
    width: 47%;
    margin-left: 40px;
    position: relative;
    top: 70px;
}

.fundo-atendimento p{
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    font-family: baloo;
    margin-left: 20px;
    color: #3b3b3b;;
}

.btn-ler-atend{
    font-family: baloo;
    font-size: 23px;
    background-color: #52BACB;
    border-radius: 20px;
    border: 4px solid white;
    width: 200px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}

.btn-ler-atend:hover{
    border: 4px solid #e3e2e2;
    color:  #e3e2e2;
}
.secao-valores {
    margin-top: 400px; /* Ajuste esse valor conforme necessário */
}

#tipo{
    font-family: baloo;
    color: #FD811C;
    position: relative;
    bottom: 55px;
}
#cardizinhos{
    height: 430px;
}

.modal {
    width: 380px;
    height: 490px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:  none;
    padding-left: 20px;
    padding-right: 20px;
}
