@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family:'oswald';
    src:url("../font/oswald/Oswald-Regular.ttf");
}

.home {
    position: absolute;
    top: 0;
    left: 90px;
    height: 100vh;
    width: calc(100% - 250px);
    z-index: -10; /* Mudei de -1 para 1 para garantir que não sobreponha o header */
}


.home .header{
    background-image: url('img/pet-header.png');
    width: 100%;
    margin: 30px 10px 50px 0px;  
    height: 200px; 
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #52BACB;

}

.home .content{
    text-align: center;
    padding-left:70px;
    position: relative;
    top: 80px;
}

.home .content h1{
    color: #ff6600;
    font-size: 45px;
    font-family: baloo;
}

.home .content h2{
    color:  #52BACB;
    font-size: 25px;
    font-family: baloo;
    line-height: 2px;
}

.home .content p{
    font-weight: 600;
    text-align: justify;
    justify-content: center;
    padding: 0px 40px 0px 40px;
}

.home .content .content-txt{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.home .content .pet-img{
    background-color: rgb(212, 212, 212);
    position: relative;
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    border-radius: 20px;
    height: 500px;
}

.home .content .pet-img img{
    width: 100%;
}

.home .content .subtitle{
    color: #52BACB;
    font-weight: 700;
    font-family: baloo;
    font-size: 23px;
    text-align: left;
    margin-top: 10px;
    padding: 10px 40px 0px 40px;
    position: relative;
    top: 25px;
}

.container-end p{
    margin-top:30px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.home .container-end button{
    background-color: transparent;
    color: #ff6600;
    border-radius: 20px;
    border: #ff6600 solid 3.5px;
    width: 200px;
    font-weight: 700;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}

.home .container-end button:hover{
    border:  #ff802c solid 3.5px;
    color: #ff802c;
}
.home .container-end{
   height: 110px;
}