@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}

@font-face {
    font-family: 'baloo';
    src: url("../font/baloo/Baloo-Regular.ttf");
}

@font-face {
    font-family: 'oswald';
    src: url("../font/oswald/Oswald-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.tela-inicial {
    background-image: url(img/background-index.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;
    height: 100vh;
}


.titulo-site {
    color: #FA5909;
    font-family: baloo;
    font-size: 120px;
    padding: 0;
    margin-bottom: 0px;

}

.subtitulo-site {
    position: relative;
    bottom: 15px;
    color: #E65005;
    font-family: baloo;
    font-size: 30px;
    padding: 0;
    margin-left: 8px;
}

.info-inicial {
    width: 660px;
    margin-left: 120px;
    position: absolute;
    top: 150px;
    text-align: left;
}

.info-inicial p {
    font-family: baloo;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 19px;
    color: #3b3b3b;
    position: relative;
    bottom: 15px;
    margin-left: 8px;
}

.tela-inicial img {
    position: relative;
    left: 700px;
    width: 45%;
    top: 100px;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.btn-inicio {
    background-color: #52BACB;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    font-size: 25px;
    padding: 10.0px;
    width: 210px;
    border: none;
    font-family: league;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-inicio:hover {
    background-color: #55abb9;
    transition: 0.4s;
}

.btn-inicio a {
    text-decoration: none;
    color: #ffffff;
}

.informacao {
    width: 95vw;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}

.btn-ler {
    margin-top: 5%;
    margin-left: 2%;
}

.texto {
    width: 270px;
    position: relative;
    float: left;
    padding-left: 5px;
}

.informacao a {
    text-decoration: none;
    color: #52BACB;
}

/* link que foi visitado */
.informacao a:visited {
    color: #2FA8BB;
}

/* quando o ponteiro do mouse passa no link */
.informacao a:hover {
    color: #178c9e;
}

/* quando o link for selecionado */
.informacao a:active {
    color: #178c9e;
}

.informacao button {
    background-color: #ffffff;
    border-radius: 50px;
    font-size: 18px;
    padding: 6;
    width: 150px;
    border: none;
    height: 35px;
    text-decoration: none;
    font-family: baloo;
    position: relative;
    bottom: 15px;
    color: #55abb9;
}

.img-pet {
    position: relative;
    float: right;
    top: 30px;
}

.fa-solid {
    color: #fa5909;
    --fa-rotate-angle: 53deg;
    width: 50px;
    height: 2px;
    font-size: 55px;
}

.cat-card {
    position: relative;
    width: 80%;
    top: -99%;
    left: 115%;
}
#info-cao {
    background-color: #FFD371;
    width: 520px;
    height: 290px;
    border-radius: 25px;
    position: relative;
    top: 30px;
    box-shadow: 15px 15px 15px #e9e6e6;
    display: flex;
    float: left;
    right: -5%;
    margin-left: 100px;
}
#info-gato {
    background-color: #52BACB;
    width: 520px;
    height: 290px;
    border-radius: 25px;
    position: relative;
    top: 30px;
    box-shadow: 15px 15px 15px #e9e6e6;
    display: flex;
    float: right;
    right: 5%;
    margin-right: 100px;
}
#info-gato h3 {
    margin-top: 6px;
    font-family: baloo;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 65px;
    color: #FFD371;
    letter-spacing: 2px;
    padding-left: 5px;
    padding-top: 5px;
}
#info-cao h3 {
    margin-top: 6px;
    font-family: baloo;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 65px;
    color: #FA5909;
    letter-spacing: 2px;
    padding-left: 5px;
    padding-top: 5px;
}
#info-gato p {
    color: #fff;
    font-size: 15px;
    position: relative;
    bottom: 15px;
    font-family: baloo;
    margin-left: 2%;
}
#info-cao p {
    color: #343434;
    font-size: 15px;
    position: relative;
    bottom: 15px;
    font-family: baloo;
    margin-left: 2%;
}
#recado{
    color: #9c9c9c;
    font-size: 13px;
}
.recado{
    width: 900px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 200px;
}
.como{
    line-height: 68px;
}