@font-face {
    font-family: 'league';
    src: url("../font/static/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family:'oswald';
    src:url("../font/oswald/Oswald-Regular.ttf");
}
body {
    background-color: #52BACB;
}
.title-login {
    color: #52BACB;
    font-family: baloo;
    font-size: 60px;
    width: 610px;
    margin-left: -20px;
    position: absolute;
    bottom: 315px;
}
.container {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 950px; 
    right: 13%;
    height: 80%;
    z-index: 2;
    box-shadow: 20px 20px 20px rgb(8, 113, 129);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.form {
    position: absolute;
    left: 12%;
    top: 20%;
}
.form-control {
    border: solid #52BACB;
    width: 350px;
    margin-top: 14%;
    left: 12%;
    font-family:baloo;
    border-radius: 20px;
    height: 50px;
}
.form-control::placeholder {
    color: #8C8C8C; 
}
.yellow-div {
    background-color: #FFD371;
    position: absolute;
    width: 420px; 
    right: 0%;
    height: 100%;
    margin-top: 0%;
    background-image: url('img/gatologin.png');
    background-size: 130%;
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cilindros {
    position: absolute;
    background-color: white;
    border-radius: 20px;
}
.cilindro1 {
    top: 315px;
    width: 200px;
    height: 25px;
    left: -20%;
}
.cilindro2 {
    top: 350px;
    width: 250px;
    height: 40px;
    left: -20%;
}
.cilindro3 {
    top: 454px;
    width: 230px;
    height: 45px;
    left: -20%;
}
.cilindro4 {
    top: 400px;
    width: 190px;
    height: 45px;
    left: -20%;
}
.cilindro5 { /*bolinha*/
    border-radius: 50%;
    top: 300px;
    width: 15px;
    height: 15px;
    left: 30%;
}
.btn-custom {
    top: 110%;
    font-family: baloo;
    font-size: 23px;
    background-color: #FD811C;
    border-color: #FD811C;
    border-radius: 20px;
    width: 200px;
    color: white;
}
.btn-custom:hover {
    background-color: #fcab65;
    border-color: #fcab65;
}
.esquecer {
    margin-left: 55%; 
    color: #FD811C;
    font-family: baloo;
}

.criar {
    color: #FD811C;
    font-family: baloo;
}
.criar-div{
    margin-top: 8%;
    right: 10%;
}
.final{
    right: 10%;
}