@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}
@font-face {
    font-family:'oswald';
    src:url("../font/oswald/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'poppins';
    src: url("../font/poppins/Poppins-Regular.ttf");
}

body{
    background-image: url('img/profissional.png');
    background-repeat: no-repeat;
    background-size: 100%;

      
}
.title{
    color: #52BACB;
    font-family: baloo;
    text-align: center;
    font-size: 300%;
    margin-left: 28%;
    margin-top: 3%;
}
.subtitle{
    color: #52BACB;
    font-family: poppins;
    text-align: center;
    margin-left: 28%;
    font-weight: 500;
    font-size: 150%;
    margin-top: -1%;
}
.destaque{
    font-weight: bolder;
    text-align: center;
    color: #FD811C;
    margin-top: -2%;
    
}
.sobre-profissional{
    
    font-family: poppins;
    width: 50%;
    text-align: justify;
    margin-top: 3%;
    margin-left: 39%;
    
}
.final{
    font-family: poppins;
    width: 50%;
    text-align: justify;
    margin-top: 3%;
    margin-left: 39%;
    
   
}
.btn-primary{
    color: white;
    background-color: #52bacb;
    font-family: baloo;
    border: none;
    margin-top: 3%;
    margin-bottom: 4%;
    border-radius: 20px;
    padding: 5px 17px;
    margin-left: 37%;
    width: 150px;

}
.btn-primary:hover{
    background-color: #469eac;
}