@font-face {
    font-family: 'league';
    src: url("../font/league/LeagueSpartan-Regular.ttf");
}

@font-face {
    font-family: 'baloo';
    src: url("../font/baloo/Baloo-Regular.ttf");
}

@font-face {
    font-family: 'oswald';
    src: url("../font/oswald/Oswald-Regular.ttf");
}

.footer h1{
    color: #ffffff;
    font-family: baloo;
    font-size: 23px;
    margin-left: 20px;
    position: relative;
    top: 10px;
    margin-bottom: 25px;
}

.footer{
    background-color:#419eac ;
}

.footer ul{
    display: inline-block;
    list-style: none; 
}
.footer li{
   font-family: league;
   color: #ffffff;
   font-weight: 500;
   font-size: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

.footer h2{
    font-size: 17px;
    font-family: baloo;
    color: #ffffff;

}