body {
    font-family: 'Baloo', sans-serif;
}

.top-section {
    height: 70vh;
    background-image: url('img/fundopatas-branca.png.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom-section {
    height: 120vh;
    background-color: #2D8896;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-vacinas {
    color: #ffffff;
    background-color: #2D8896;
    border-radius: 30px;
    padding: 10px 70px;
    margin-top: 20px;
    z-index: 1;
}

.text-vacinas {
    color: #ffffff;
    background-color: #2FA8BB;
    border-radius: 30px;
    padding: 40px 70px;
    margin-top: -30px;
    max-width: 800px;
}

.destaque {
    color: #F7D577;
}

.title-beneficios {
    color: #F7D577;
    text-align: center;
    margin-top: -170px;
    z-index: 2;
}

.icones {
    display: flex;
    justify-content: center;
    gap: 0px; 
    margin-top: -50px;
}

.icone-item {
    text-align: center;
    max-width: 30%; 
}

.icone-protecao, .icone-conveniencia, .icone-saude {
    width: 100%; 
    height: auto;
    z-index: 1;
}

.icone-titulo {
    color: #F7D577;
    margin: -100px 0 5px;
}

.icone-texto {
    color: #ffffff;
    font-size: 14px; 
    margin: 0;
    padding: 0 10px;
}
.text-agende{
    color: #ffffff;
    position: relative;
    top: 15%;
}
.btn-custom {
    top: 100%;
    position: relative;
    font-family: baloo;
    font-size: 20px;
    background-color: #FD811C;
    border-color: #FD811C;
    border-radius: 20px;
    width: 200px;
    color: white;
    top: 280%;
}

.btn-custom:hover {
    background-color: #fcab65;
    border-color: #fcab65;
}

.agende{
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 15%;
}
