@font-face {
    font-family:'baloo';
    src:url("../font/baloo/Baloo-Regular.ttf");
}

:root{
    --primary-clr:#52BACB;
    --title-color:#3e3e3e;
    --second-color: #FD811C;
    --primary-hover: #7bcdd9; 
}
.top-valores{
    background-color:var(--primary-clr);
   color: #fff;
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.table{
    width: 900px;
}

.container-tabela{
    margin: 19px;
}
.container-tabela h1{
    font-weight: 500;
    font-size: 2.4em;
    margin-bottom: 15px;
    color:#41a4b3;
    font-family: baloo;
    letter-spacing:-0.9px;
}
.table table{
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    overflow-x:auto;
    box-shadow: 20px 20px 20px #dfdfdf;
}

.table table td{
    text-align: center;
    padding: 0.7em;
    
}
.table table th{
    color: #fff;
    font-weight: 600;
    padding: 0.5em;
}
.table table th{
    background-color: var(--primary-clr);
}

.table th, td {
    border: none;
}

tr:nth-child(odd) {
    background-color: #F5F5F5;
}
tr:nth-child(even) {
    background-color: #ffffff;
}

table td button{
    background-color: transparent;
    padding: 0.3em;
    font-weight: 600;
    border: none;
}

.table .fa-solid{
    color: #787575;
    margin: 20px;
    cursor:pointer;
}

table th:nth-child(2), table td:nth-child(2) {
    width: 50px;
}

table th:nth-child(4), table td:nth-child(4) {
    width: 170px;
}

table th:nth-child(5), table td:nth-child(5) {
    width: 100px;
}

.container-valores{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #e9e9e9;
    width: 650px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 20px;
    margin: 10px;
}

.vac-cat{
    border: 2.5px solid var(--primary-clr);
}
.vac-dog{
    border: 2.5px solid var(--second-color);
}
.vac-cat .id{
    color: var(--primary-clr);
    font-family: baloo;
    font-size: 1.6em;
    
}
.vac-dog .id{
    color: var(--second-color);
    font-family: baloo;
    font-size: 1.6em;
    
}
.container-valores div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.alt{
    border: 4px solid var(--primary-clr);
    border-radius: 20px;
    padding: 2.5px;
    width: 150px;
    background-color: transparent;
    font-weight: 700;
    color: var(--primary-clr);
    cursor: pointer;
}
.modal {
    width: 380px;
    height: 490px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:  none;
    padding-left: 20px;
    padding-right: 20px;
}

.modal h1{
    font-size: 25px;
    margin-top: 10px;
    color: var(--title-color);
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    font-weight: 700;
}


.modal .close{
    background-color: transparent;
    border: 3.5px solid var(--primary-clr);
    color: var(--primary-clr);
    font-weight: 600; 
    border-radius: 10px;
    width: 70%;
    font-size: 15px;
    cursor: pointer;
    height: 35px;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
}
.modal .save{
    color: #ffffff;
    background-color:  var(--primary-clr);
    font-weight: 600; 
    border-radius: 8px;
    width: 70%;
    font-size: 15px;
    cursor: pointer;
    height: 35px;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    margin-bottom: 10px;
    border: none;
}
.modal .save:hover{
    background-color: #7bcdd9;
}
.modal .infos .tp-dados{
    margin-top:5px;
    display: inline-block;
    font-weight: 600;
}
.modal .infos p{
    display: inline-block;
}
.modal .infos .obv{
    border: 1.5px solid #bdbdbd;
    border-radius: 20px;
    height: 120px;
    padding-left: 9px;
    margin-top: 10px;
    padding-top: 5px;
}
.modal .infos .obv-title{
    color:#bdbdbd;
    font-size: 13px;
}
.modal .infos .txt{
    font-size: 14px;
}
.modal .close:hover{
    color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.alt-situ select{
   position: relative;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: transparent;
    border-radius: 15px;
    width: 70%;
    border: 1px solid #252525;
    height: 35px;
    padding-left: 10px;
    margin-top: 10%;
}

.modalCheck .save{
    margin-top: 8%;
}

.modalCheck p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

