@font-face {
    font-family: 'baloo';
    src: url("../font/baloo/Baloo-Regular.ttf");
}
html,
body {
    overflow-x: hidden;
    /* Esconde a rolagem horizontal */
}
.content, #gerencia{
    position: relative;
    left: 180px;
    top: -1080px;
}
.adoc-atv {
    width: 210px;
    border-radius: 20px;
    height: 200px;
    text-align: center;
    background-color: #52BACB;
    display: inline-block;
    margin: 10px;
    vertical-align: top; /* Garante o alinhamento ao topo */
    transition: background-color 1s;
}

.adoc-atv:hover {
    background-color: #6ecfde;
}

.ico {
    color: white;
    margin-top: 20px;
}

.text-adocao {
    margin-top: 35px;
    color: white;
    font-family: baloo;
    font-size: 20px;
}

/* Remover espaçamento entre inline-blocks */
.content {
    font-size: 0; /* Remove o espaço entre os blocos */
    width: 100%;
    max-width: 900px;
    margin-top: 10px;
}

.adoc-atv {
    font-size: 16px; /* Reaplica o tamanho de fonte normal para os elementos */
}

/* Form */
#form {
    position: relative;
    top: 100px;
    left: -240px;
    border-radius: 20px;
    border: solid;
    border-color: #52BACB;
    background-color: white;
    height: 800px;
    width: 600px;
    padding: 30px 35px;
}

#new {
    position: relative;
    left: 20px;
    top: 15px;
}

.pata {
    font-size: 25px;
}

.form-control {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: solid;
    border-color: #52BACB;
}

#form-control {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: solid;
    border-color: #52BACB;
}

.label {
    font-family: baloo;
    color: #8c8c8c9a;
}
