body {
    background-color: #f0f0f0;
    font-family: baloo;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-vacina {
    color: #F7D577;
    background-color: #FC9242;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
}

.subtitle {
    color: #555555;
    margin-top: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
}

.content {
    text-align: left;
    margin-top: 20px;
}

.section-title {
    color: #FC9242;
    margin-top: 20px;
}

.text-content {
    color: #333333;
    margin-top: 10px;
}

.benefits-list,
.diseases-list {
    color: #333333;
    margin-top: 10px;
    padding-left: 20px;
}

.benefits-list li,
.diseases-list li {
    margin-top: 5px;
}
