@media (min-width:310px) and (max-width: 350px) {
    .blue-div{
        display: none;
    }
    .container{
        background-image: url('../img/fundo-azul.jpg');
        background-size: 150%;
    }
}

@media (min-width:765px) and (max-width: 991px) {
    .blue-div {
        width: 320px !important;
    
    }
    .title-agendamentos{
        position: relative;
        top: -12%;
    }
    #etapa7{
        
    }
    
    .subtitle {
        font-size: 15px;
        line-height: 1.5;
        text-align: left;
        margin: 10px 0;
    }
    .title-agendamentos1{
        font-size: 27px;
        position: relative;
        top: 10%;
    }
    
    
   
}

@media (min-width:763px) and (max-width: 767px){

    body{
        background-image: url(./imgs/fundo-azul.jpg);
        background-size: 80%;
    }
    .blue-div{
        
        display: none;
    }
    #etapa1{
        position: relative;
        left: -9%;
    }
    #etapa2{
       position: relative;
       left: -50%;
    }
    .subtitle{
        z-index: 1;
    }
   
    

   .container{
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 20px 20px 20px #3e8e9b !important;
   }
    .title{
        margin-top: 10%;
        position: relative;
        right: 40%;
        
    }
    #agendamento-container{
        position: relative;
        right: 50%;
    }
     .btn-custom{
        position: relative;
        right: 18%;
    }

}

@media (min-width:575px) and (max-width: 762px){

    body{
        background-image: url(./imgs/fundo-azul.jpg);
        background-size: 80%;
    }
    .blue-div{
        
        display: none;
    }
    #etapa1{
        position: relative;
        left: -9%;
    }
    #etapa2{
       position: relative;
       left: -50%;
    }
    .subtitle{
        z-index: 1;
    }
   
    

   .container{
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 20px 20px 20px #3e8e9b !important;
   }
    .title{
        margin-top: 10%;
        position: relative;
        right: 40%;
        
    }
    #agendamento-container{
        position: relative;
        right: 50%;
    }
     .btn-custom{
        position: relative;
        right: 18%;
    }

}




  

    





  

    
