@media (min-width:310px) and (max-width: 350px) {
    .body{
        background-color: #52BACB;
    }
    .container{
        background-color: white;
        width: 20px;
        height: 50px;
    }
}