@media (min-width:310px) and (max-width: 350px) {

   body{
    background-color: white;
   }
   .form{
      width: 300px;
      height: 600px;
   }
   .title-login{
      margin-left:215px;
      margin-bottom: 85%;
      font-size: 55px;
   }
   .yellow-div{
      background-image: none;
      background-color: white;
   }
   .form-control{
      margin-left: 215px;
      width: 250px;
   }
   .container{
      box-shadow: none;
   }
   .final{
      margin-left: 250px;
   }
   .esquecer{  

   }
   .cad-text{
      margin-left: 100px;
   }
   .cd{

   }
   .cilindro1{
      background-color: #FFD371;
      margin-top: -85%;
      margin-left: 50px;
   }
   .cilindro2{
      background-color: #FFD371;
      margin-top: -85%;
      margin-left: 120px;
      width: 100px;
   }
   .cilindro3{
      background-color:#FFD371;
      margin-top: -97%;
      width: 200px;
      height: 30px;
      margin-left: 90px;
   }
   .cilindro5{
      background-color:#FFD371;
      margin-top: -70%;
      margin-left: -35%;
   }
   .cilindro4{
      display: none;
   }
}