@media (min-width:310px) and (max-width: 400px){
    /*index*/
    .content{
        position: relative;
        left: 90px;
        top: -910px;
    }
    .table{
        position: relative;
        top: 40px;
    }
    .btn-busca{
        position: relative;
        top: 20px;
        left: -2px;
    }
    .else{
        width: 250px;
    }
    /*htrc*/
    .form{
        width: 250px;
    }
    #btn-htrc{
        left: -2px;
    }
    table, thead, tbody, th, td, tr {
        display: block; /* Faz com que os elementos sejam exibidos em blocos */
        text-align: left;
    }
    
}