@media (min-width:310px) and (max-width: 350px){
    body{
        background-image: none;
        background-image: url('imgs/profissional.png');
        background-repeat: no-repeat;
        background-size: 115%;
        background-position: calc(100% - -20px) calc(50% - 750px);
        margin: 0;
    }
    .title{
        font-size: 25px;
        position: relative;
        left: -120px;
        width: 400px;
        top: 20px;
    }
    .subtitle{
        font-size: 15px;
        position: relative;
        left: -50px;
        top: 20px;
    }
    .destaque{
        font-size: 12px;
        position: relative;
        width: 400px;
        left: -160px;
        top: 20px;
    }
    #p1{
        
    }

}