@media (min-width:310px) and (max-width: 375px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 730px;
    }

    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        left: -18px;
        font-size: 45px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        left: -18px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }

    #info-cao {
        width: 300px;
        position: relative;
        left: -5px;
        top: -130px;
    }

    #info-gato {
        width: 300px;
        position: relative;
        left: -2px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: 25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 12px;
        left: -10px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 30px;
        text-align: center;
        width: 250px;
        left: 60px;
        height: 100px;
    }
}
@media (min-width:376px) and (max-width: 410px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 730px;
    }

    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        left: -18px;
        font-size: 45px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        left: -18px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }

    #info-cao {
        width: 350px;
        position: relative;
        left: -25px;
        top: -130px;
    }

    #info-gato {
        width: 350px;
        position: relative;
        left: 25px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: 25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 12px;
        left: -10px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 30px;
        text-align: center;
        width: 350px;
        left: 30px;
        height: 100px;
    }
}
@media (min-width:411px) and (max-width: 455px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 730px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        left: 10px;
        font-size: 60px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        left: 15px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 380px;
        position: relative;
        left: -40px;
        top: -130px;
    }

    #info-gato {
        width: 380px;
        position: relative;
        left: 40px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: 25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 15px;
        left: 20px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 30px;
        text-align: center;
        width: 350px;
        left: 40px;
        height: 100px;
    }
    #sub{
        position: relative;
        left: 15px;
        width: 350px;
    }
}
@media (min-width:456px) and (max-width: 500px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(50% + -50px);
        height: 800px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        left: 40px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        left: 40px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 400px;
        position: relative;
        left: -50px;
        top: -130px;
    }

    #info-gato {
        width: 400px;
        position: relative;
        left: 50px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: 25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 18px;
        left: 45px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 30px;
        text-align: center;
        width: 350px;
        left: 65px;
        height: 100px;
    }
    #sub{
        position: relative;
        left: 40px;
        width: 350px;
    }
}
@media (min-width:501px) and (max-width: 550px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 800px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: -20px;
        left: 20px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: -15px;
        left: 20px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 400px;
        position: relative;
        left: -50px;
        top: -130px;
    }

    #info-gato {
        width: 400px;
        position: relative;
        left: 50px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: 25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 18px;
        left: 30px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 480px;
        left: 25px;
        height: 100px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: 20px;
        width: 400px;
    }
}
@media (min-width:551px) and (max-width: 575px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 800px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: -20px;
        left: -10px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: -15px;
        left: -10px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 450px;
        position: relative;
        left: -75px;
        top: -130px;
    }

    #info-gato {
        width: 450px;
        position: relative;
        left: 80px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: 25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 18px;
        left: -5px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 480px;
        left: 40px;
        height: 100px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: -10px;
        width: 510px;
    }
}
@media (min-width:576px) and (max-width: 600px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 800px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: -20px;
        left: 5px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: -15px;
        left: 5px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 450px;
        position: relative;
        left: -75px;
        top: -130px;
    }

    #info-gato {
        width: 450px;
        position: relative;
        left: 80px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: 25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 18px;
        left: 10px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 480px;
        left: 50px;
        height: 100px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: 5px;
        width: 510px;
    }
}
@media (min-width:601px) and (max-width: 650px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 800px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: -20px;
        left: 30px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: -15px;
        left: 30px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 500px;
        position: relative;
        left: -100px;
        top: -130px;
    }

    #info-gato {
        width: 500px;
        position: relative;
        left: 100px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: 25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 18px;
        left: 30px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 480px;
        left: 75px;
        height: 100px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: 30px;
        width: 510px;
    }
}
@media (min-width:651px) and (max-width: 700px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 800px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: -20px;
        left: 50px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: -15px;
        left: 50px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 550px;
        position: relative;
        left: -135px;
        top: -130px;
    }

    #info-gato {
        width: 550px;
        position: relative;
        left: 120px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: -25px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        top: 50px;
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 18px;
        left: 55px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 80px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 600px;
        left: 35px;
        height: 100px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: 50px;
        width: 510px;
    }
}
@media (min-width:701px) and (max-width: 760px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 900px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: 10px;
        left: 80px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        top: -5px;
        left: 80px;
    }

    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 550px;
        position: relative;
        left: -135px;
        top: -130px;
    }

    #info-gato {
        width: 550px;
        position: relative;
        left: 120px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 40px !important;
        line-height: 50px;
        position: relative;
        bottom: -85px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        top: 100px;
        text-align: center;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 30px;
        left: 85px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image: none;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        top: 150px !important;
        font-size: 18px;
        position: relative;
        top: 35px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 600px;
        left: 50px;
        height: 100px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: 85px;
        width: 510px;
        top: 10px;
    }
}
@media (min-width:761px) and (max-width: 790px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 900px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: -30px;
        left: 100px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: -25px;
        left: 100px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: 100px;
        width: 510px;
        top: -10px;
    }
    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 550px;
        position: relative;
        left: -135px;
        top: -130px;
    }

    #info-gato {
        width: 550px;
        position: relative;
        left: 120px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 50px !important;
        width: 500px;
        line-height: 50px;
        position: relative;
        bottom: -5px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        top: 40px;
        width: 350px;
        text-align: left !important;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 10px;
        left: 100px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image:url(imgs/background-atend.svg);
        background-size: cover;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 65px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 700px;
        left: 50px;
        height: 100px;
    }

}
@media (min-width:791px) and (max-width: 850px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 1000px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: 20px;
        left: 120px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: 25px;
        left: 120px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: 120px;
        width: 510px;
        font-size: 16px;
        top: 5px;
    }
    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 620px;
        position: relative;
        left: -160px;
        top: -130px;
    }

    #info-gato {
        width: 620px;
        position: relative;
        left: 160px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 50px !important;
        width: 500px;
        line-height: 50px;
        position: relative;
        bottom: -5px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        top: 40px;
        width: 350px;
        text-align: left !important;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 20px !important;
        left: 130px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image:url(imgs/background-atend.svg);
        background-size: cover;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 65px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 700px;
        left: 50px;
        height: 100px;
    }

}
@media (min-width:851px) and (max-width: 930px) {
    .tela-inicial {
        background-image: url('imgs/index-responsivo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: calc(0% + 0px) calc(80% + -50px);
        height: 1100px;
    }
    #icon {
        font-size: 20px;
    }

    p {
        font-size: 25px;
    }

    .titulo-site {
        position: relative;
        top: 20px;
        left: 150px;
        font-size: 65px;
        text-align: center;
    }

    .info-inicial {
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
    }

    .subtitulo-site {
        font-size: 16px;
        text-align: center;
        margin-top: 25px;
        left: 150px;
    }
    #sub{
        text-align: center;
        position: relative;
        left: 150px;
        width: 510px;
        font-size: 16px;
        top: 5px;
    }
    .info-inicial p {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: -18px;
        top: 1px;
    }

    .informacao {
        position: relative;
        top: 500px;
        width: 500px;
        height: 500px;
    }
    #info-cao {
        width: 620px;
        position: relative;
        left: -160px;
        top: -130px;
    }

    #info-gato {
        width: 620px;
        position: relative;
        left: 160px;
        top: -55px;
    }

    #vmp {
        position: relative;
        top: 35px;
    }

    .como {
        font-size: 50px !important;
        width: 500px;
        line-height: 50px;
        position: relative;
        bottom: -5px;
        left: -20px;
        text-align: center;
    }

    .p-text {
        top: 40px;
        width: 350px;
        text-align: left !important;
        position: relative;
        left: -20px;
    }

    .btn-ler {
        top: 10px;
    }

    .cat-card {
        display: none;
    }

    .btn-inicio {
        font-size: 18px;
        text-align: center;
        position: relative;
        top: 30px !important;
        left: 160px;
    }

    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-cao h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #info-gato p {
        font-size: 14px;
    }

    #info-cao p {
        font-size: 14px;
    }

    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height: 30px;
    }

    .titulo-vacina h2 {
        font-size: 30px;
    }

    .secao-valores {
        position: relative;
        bottom: 50px;
    }

    .slide-container {
        position: relative;
        top: 30px;
    }

    .btn-vacinas {
        width: 150px;
        height: 40px;
    }

    .fundo-atendimento {
        height: 650px;
        background-color: #52BACB;
        background-image:url(imgs/background-atend.svg);
        background-size: cover;
        top: 10px;
    }

    .conteudo-atend {
        width: auto;
        margin-right: 20px;
        position: relative;
    }

    .conteudo-atend h2 {
        font-size: 32px;
        text-align: left;
    }

    .conteudo-atend p {
        font-size: 15.5px;
    }

    .btn-ler-atend {
        font-size: 18px;
        position: relative;
        top: 65px;
        left: -25px;
    }
    .recado{
        position:relative;
        top: 40px;
        text-align: center;
        width: 700px;
        left: 100px;
        height: 100px;
    }

}
@media (min-width:931px) and (max-width: 1000px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        left: -30px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 55px;
    }
    .subtitulo-site{
        position: relative;
        top: -68px;
        font-size: 20px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 15px;
        width: 400px;
        text-align: left;
    }
    .btn-inicio{
        font-size: 20px;
        width: 150px;
        left: 5px;
        top: -50px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 400px;
        width: 500px;
        height: 500px;
    }
    #info-cao{
        position: relative;
        left: -110px;
        top: -50px;
    }
    #info-gato{
        position: relative;
        left: 110px;
        top: 70px;
    }
    #vmp{
        font-size: 50px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 50px;
    }
    .btn-vacinas{
        width: 150px;
    }
    .cf{
        font-size: 14px;
    }
    .conteudo-atend{
        position: relative;
        left: -30px;
    }
    .como{
        font-size: 50px !important;
    }
    .p-text{
        font-size: 15px !important;
    }
    .btn-ler-atend{
        width: 150px;
        font-size: 15px;
    }
}
@media (min-width:1001px) and (max-width: 1070px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        left: -40px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 80px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 22px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 19px;
        width: 500px;
        text-align: left;
    }
    .btn-inicio{
        font-size: 20px;
        width: 150px;
        left: 5px;
        top: -50px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 400px;
        width: 500px;
        height: 500px;
    }
    #info-cao{
        position: relative;
        left: -110px;
        top: -50px;
    }
    #info-gato{
        position: relative;
        left: 110px;
        top: 70px;
    }
    #vmp{
        font-size: 50px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 75px;
    }
    .btn-vacinas{
        width: 150px;
    }
    .cf{
        font-size: 14px;
    }
    .conteudo-atend{
        position: relative;
        left: -30px;
    }
    .como{
        font-size: 50px !important;
    }
    .p-text{
        font-size: 15px !important;
    }
    .btn-ler-atend{
        width: 150px;
        font-size: 15px;
    }
}
@media (min-width:1070px) and (max-width: 1171px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        left: -20px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 80px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 22px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 19px;
        width: 500px;
        text-align: left;
    }
    .btn-inicio{
        font-size: 20px;
        width: 150px;
        left: 5px;
        top: -50px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 400px;
        width: 500px;
        height: 500px;
    }
    #info-cao{
        position: relative;
        left: -110px;
        top: -50px;
    }
    #info-gato{
        position: relative;
        left: 110px;
        top: 70px;
    }
    #vmp{
        font-size: 50px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 110px;
    }
    .btn-vacinas{
        width: 150px;
    }
    .cf{
        font-size: 14px;
    }
    .conteudo-atend{
        position: relative;
        left: -30px;
    }
    .como{
        font-size: 50px !important;
    }
    .p-text{
        font-size: 15px !important;
    }
    .btn-ler-atend{
        width: 150px;
        font-size: 15px;
    }
}
@media (min-width:1172px) and (max-width: 1300px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        left: -10px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 90px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 22px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 19px;
        width: 500px;
        text-align: left;
    }
    .btn-inicio{
        left: 5px;
        top: -50px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 320px;
        width: 1300px;
        height: 200px;
    }
    #info-cao{
        position: relative;
        left: -10px;
        top: -50px;
    }
    #info-gato{
        position: relative;
        left: 10px;
        top: -50px;
    }
    #vmp{
        font-size: 50px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 165px;
    }
    .btn-vacinas{
        width: 200px;
    }
    .conteudo-atend{
        position: relative;
        left: -30px;
        top: 130px;
    }

}
@media (min-width:1301px) and (max-width: 1500px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        left: 10px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 95px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 24px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 19px;
        text-align: left;
    }
    .btn-inicio{
        left: 5px;
        top: -50px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 320px;
        width: 1300px;
        height: 200px;
    }
    #info-cao{
        position: relative;
        left: -10px;
        top: -50px;
    }
    #info-gato{
        position: relative;
        left: 10px;
        top: -50px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 205px;
    }

    .conteudo-atend{
        position: relative;
        left: -30px;
        top: 70px;
    }
    .como{
        position: relative;
    }
    .p-text{
        font-size: 23px !important;
    }

}
@media (min-width:1501px) and (max-width: 1700px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        top: 200px;
        left: 10px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 95px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 24px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 19px;
        text-align: left;
    }
    .btn-inicio{
        left: 5px;
        top: -50px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 320px;
        width: 1300px;
        height: 200px;
    }
    #info-cao{
        position: relative;
        left: -50px;
        top: -50px;
    }
    #info-gato{
        position: relative;
        left: 50px;
        top: -50px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 365px;
    }

    .conteudo-atend{
        position: relative;
        left: -30px;
        top: 100px;
    }
    .como{
        font-size: 75px !important;
        line-height: 95px;
        position: relative;
        top: -30px;
    }
    .p-text{
        font-size: 27px !important;
        position: relative;
        top: -10px;
    }

}
@media (min-width:1701px) and (max-width: 1900px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        top: 230px;
        left: 70px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 105px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 30px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 22px;
        text-align: left;
    }
    .btn-inicio{
        left: 5px;
        top: -40px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 320px;
        width: 1300px;
        height: 200px;
    }
    #info-cao{
        position: relative;
        left: -100px;
        top: -50px;
    }
    #info-gato{
        position: relative;
        left: 100px;
        top: -50px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 445px;
    }

    .conteudo-atend{
        position: relative;
        left: -30px;
        top: 150px;
    }
    .como{
        font-size: 80px !important;
        line-height: 85px;
        position: relative;
        top: -20px;
    }
    .p-text{
        font-size: 27px !important;
        position: relative;
        top: 10px;
    }
    .btn-ler-atend{
        position: relative;
        top: 20px;
    }

}
@media (min-width:1901px) and (max-width: 1950px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        top: 230px;
        left: 70px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 105px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 30px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 22px;
        text-align: left;
    }
    .btn-inicio{
        left: 5px;
        top: -40px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 320px;
        width: 1300px;
        height: 200px;
    }
    #info-cao{
        position: relative;
        left: -100px;
        top: -50px;
    }
    #info-gato{
        position: relative;
        left: 100px;
        top: -50px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 545px;
    }

    .conteudo-atend{
        position: relative;
        left: -30px;
        top: 150px;
    }
    .como{
        font-size: 80px !important;
        line-height: 90px;
    }
    .p-text{
        font-size: 30px !important;
        position: relative;
        top: 10px;
    }
    .btn-ler-atend{
        position: relative;
        top: 30px;
    }

}
@media (min-width:1951px) and (max-width: 2300px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        top: 230px;
        left: 20px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 160px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 40px;
        width: 900px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 32px;
        width: 1000px;
        text-align: left;
    }
    .btn-inicio{
        left: 5px;
        top: -40px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 320px;
        width: 1300px;
        height: 200px;
    }
    #info-cao{
        width: 620px;
        position: relative;
        left: -200px;
        top: -50px;
    }
    #info-gato{
        width: 620px;
        position: relative;
        left: 200px;
        top: -340px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 550px;
    }

    .conteudo-atend{
        position: relative;
        left: -30px;
        top: 170px;
    }
    .como{
        font-size: 90px !important;
        line-height: 110px;
        position: relative;
        top: -35px;
    }
    .p-text{
        font-size: 30px !important;
    }
    .btn-ler-atend{
        font-size: 30px;
        position: relative;
        top: 20px;
     }

}
@media (min-width:2301px) and (max-width: 2560px){
    .tela-inicial{
        background-image: url(imgs/background-inicio.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .info-inicial{
        position: relative;
        top: 330px;
        left: 100px;
    }
    .titulo-site{
        position: relative;
        top: -65px;
        font-size: 160px;
    }
    .subtitulo-site{
        position: relative;
        top: -75px;
        font-size: 40px;
        width: 900px;
    }
    #sub{
        position: relative;
        top: -60px;
        font-size: 32px;
        width: 1000px;
        text-align: left;
    }
    .btn-inicio{
        left: 5px;
        top: -40px;
        position: relative;
    }
    .informacao {
        position: relative;
        top: 320px;
        width: 1300px;
        height: 200px;
    }
    #info-cao{
        width: 620px;
        position: relative;
        left: -250px;
        top: -50px;
    }
    #info-gato{
        width: 620px;
        position: relative;
        left: 250px;
        top: -340px;
    }
    .recado{
        position: relative;
        text-align: center;
        width: 900px;
        height: 100px;
        left: 800px;
    }

    .conteudo-atend{
        position: relative;
        left: -30px;
        top: 190px;
    }
    .como{
        font-size: 100px !important;
        line-height: 110px;
        position: relative;
        top: -40px;
    }
    .p-text{
        font-size: 40px !important;
        position: relative;
        top: 20px;
    }
    .btn-ler-atend{
       font-size: 30px;
       position: relative;
       top: 40px;
    }

}











