@media (min-width:310px) and (max-width: 400px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    body{
        background-image: url(imgs/doutora.png);
        background-size: 410px;
        background-position: calc(0% + -25px) calc(50% + 170px);
    }
    .destaque, #p1, #p2, #p3, #p4, .title, .subtitle{
        display: none;
    }
    .footer{
        display: none;
    }
}