@media (min-width:310px) and (max-width: 374px) {

    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }

    body {
        background-image: url(imgs/agenda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        margin: 0;
        width: 100%;
        height: 100vh;
    }

    .logo-resp {
        position: relative;
        margin-left: 85px;
        top: 80px;
    }

    .blue-div {
        display: none;
    }

    .blue-div-resp {
        position: relative;
        left: -70px;
        top: 25px;
    }

    .container {
        margin-top: 200px;
        height: 820vh;
        width: 100%;
        border-top-left-radius: 20px;
        /* Arredondar o canto superior esquerdo */
        border-top-right-radius: 20px;
        /* Arredondar o canto superior direito */
    }

    #etapa1 {
        position: relative;
        left: -150px;
    }

    .title-agendamento {
        position: relative;
        font-size: 35px;
        margin-left: 20px;
        top: -10px;
    }

    .subtitle-inicio {
        position: relative;
        text-align: center;
        width: 300px;
        left: -23px;
        top: -20px;
    }

    #agendamento-container {
        position: relative;
        top: 5px;
        left: -20px;
    }

    #btn-um {
        position: relative;
        margin-left: -12%;
        top: 150px;
    }

    .title-agendamento-um {
        position: relative;
        font-size: 35px;
        margin-left: 20px;
        top: -10px;
    }

    #etapa2 {
        position: relative;
        left: -150px;
    }

    #form-control {
        position: relative;
        left: 13px;
        width: 270px;
    }

    #btn-dois {
        position: relative;
        left: 45px;
    }

    #etapa3 {
        position: relative;
        left: -150px;
    }

    #btn-tres {
        position: relative;
        left: 50px;
    }

    #etapa4 {
        position: relative;
        left: -150px;
    }

    #btn-quatro {
        position: relative;
        left: 50px;
    }

    #etapa5 {
        position: relative;
        left: -150px;
    }

    #btn-cinco {
        position: relative;
        left: 50px;
    }

    #etapa6 {
        position: relative;
        left: -150px;
    }

    #btn-seis {
        position: relative;
        left: 50px;
    }

    #radio {
        position: relative;
        left: 40px;
    }

    textarea {
        width: 250px;
    }

    #etapa7 {
        position: relative;
        left: -150px;
    }

    #sucesso {
        font-size: 25px;
    }

    #span {
        position: relative;
        top: 30px;
    }

    #agradecimento {
        position: relative;
        top: -20px;
        width: 300px;
    }

    #final {
        position: relative;
        left: 100px;
        margin-top: 10%;
    }

    #sobre {
        position: relative;
        left: -10px;
    }

    #sub {
        width: 300px;
    }

    #servico {
        position: fixed;
        margin-top: 1%;
        margin-left: -1%;
    }

    #agendamento-container {
        position: relative;
        top: 20px;
        margin-left: 12%;
    }

    #rec {
        width: 300px;
        position: relative;
        left: 5px;
        top: 80px;
    }

}

@media (min-width:375px) and (max-width: 430px) {

    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }

    body {
        background-image: url(imgs/agenda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        margin: 0;
        width: 100%;
        height: 100vh;
    }

    .logo-resp {
        position: relative;
        margin-left: 87px;
        top: 80px;
    }

    .blue-div {
        display: none;
    }

    .blue-div-resp {
        position: relative;
        left: -70px;
        top: 25px;
    }

    .container {
        margin-top: 200px;
        height: 720vh;
        width: 100%;
        border-top-left-radius: 20px;
        /* Arredondar o canto superior esquerdo */
        border-top-right-radius: 20px;
        /* Arredondar o canto superior direito */
    }

    #etapa1 {
        position: relative;
        left: -150px;
    }

    .title-agendamento {
        position: relative;
        font-size: 35px;
        margin-left: 20px;
        top: -10px;
    }

    .subtitle-inicio {
        position: relative;
        text-align: center;
        width: 300px;
        left: -20px;
    }

    #btn-um {
        position: relative;
        margin-left: -13%;
        top: 155px;
    }

    .title-agendamento-um {
        position: relative;
        font-size: 35px;
        margin-left: 20px;
        top: -10px;
    }

    #etapa2 {
        position: relative;
        left: -150px;
    }

    #form-control {
        position: relative;
        left: -5px;
        width: 310px;
    }

    #btn-dois {
        position: relative;
        left: 45px;
    }

    #etapa3 {
        position: relative;
        left: -150px;
    }

    #btn-tres {
        position: relative;
        left: 50px;
    }

    #etapa4 {
        position: relative;
        left: -150px;
    }

    #btn-quatro {
        position: relative;
        left: 50px;
    }

    #etapa5 {
        position: relative;
        left: -150px;
    }

    #btn-cinco {
        position: relative;
        left: 50px;
    }

    #etapa6 {
        position: relative;
        left: -150px;
    }

    #btn-seis {
        position: relative;
        left: 50px;
    }

    #radio {
        position: relative;
        left: 40px;
    }

    textarea {
        width: 250px;
    }

    #etapa7 {
        position: relative;
        left: -150px;
    }

    #sucesso {
        width: 350px;
    }

    #span {
        position: relative;
        top: -20px;
    }

    #agradecimento {
        position: relative;
        top: -20px;
        width: 300px;
    }

    #final {
        position: relative;
        left: 100px;
        margin-top: 8%;
    }

    #sobre {
        position: relative;
        left: -10px;
    }

    #sub {
        width: 300px;
    }

    #servico {
        position: fixed;
        margin-left: -1%;
        margin-top: 3%;
    }

    #agendamento-container {
        position: relative;
        margin-left: 60px;
        margin-top: 50px;
    }

    .recado {
        width: 300px;
        position: relative;
        margin-left: 12%;
        top: 80px;
    }
}

@media (min-width:431px) and (max-width: 505px) {

    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }

    body {
        background-image: url(imgs/agenda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        margin: 0;
        width: 100%;
        height: 100vh;
    }

    .logo-resp {
        position: relative;
        margin-left: 98px;
        top: 80px;
    }

    .blue-div {
        display: none;
    }

    .blue-div-resp {
        position: relative;
        left: -70px;
        top: 25px;
    }

    .container {
        margin-top: 200px;
        height: 720vh;
        width: 100%;
        border-top-left-radius: 20px;
        /* Arredondar o canto superior esquerdo */
        border-top-right-radius: 20px;
        /* Arredondar o canto superior direito */
    }

    #etapa1 {
        position: relative;
        left: -150px;
    }

    .title-agendamento {
        position: relative;
        font-size: 40px;
        left: 5px;
        top: -10px;
    }

    .subtitle-inicio {
        position: relative;
        text-align: center;
        width: 300px;
        left: -22px;
    }

    #agendamento-container {
        position: relative;
        top: 5px;
        left: -20px;
    }

    #btn-um {
        position: relative;
        margin-left: -12%;
        top: 150px;
    }

    .title-agendamento-um {
        position: relative;
        font-size: 40px;
        margin-left: 5px;
        top: -10px;
    }

    #etapa2 {
        position: relative;
        left: -150px;
    }

    #form-control {
        position: relative;
        left: -30px;
        width: 360px;
    }

    #btn-dois {
        position: relative;
        left: 45px;
    }

    #etapa3 {
        position: relative;
        left: -150px;
    }

    #btn-tres {
        position: relative;
        left: 50px;
    }

    #etapa4 {
        position: relative;
        left: -150px;
    }

    #btn-quatro {
        position: relative;
        left: 50px;
    }

    #etapa5 {
        position: relative;
        left: -150px;
    }

    #btn-cinco {
        position: relative;
        left: 50px;
    }

    #etapa6 {
        position: relative;
        left: -150px;
    }

    #btn-seis {
        position: relative;
        left: 50px;
    }

    #radio {
        position: relative;
        left: 40px;
    }

    textarea {
        width: 250px;
    }

    #etapa7 {
        position: relative;
        left: -150px;
    }

    #sucesso {
        width: 350px;
    }

    #span {
        position: relative;
        top: -20px;
    }

    #agradecimento {
        position: relative;
        top: -20px;
        width: 300px;
    }

    #final {
        position: relative;
        left: 100px;
        margin-top: 10%;
    }

    #sobre {
        position: relative;
        left: -15px;
    }

    #servico {
        position: fixed;
        margin-top: 2%;
        margin-left: -2%;
    }

    #agendamento-container {
        position: relative;
        margin-left: 20%;
    }

    .recado {
        width: 300px;
        position: relative;
        margin-left: 12%;
        top: 75px;
    }
}

@media (min-width:506px) and (max-width: 575px) {

    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }

    body {
        background-image: url(imgs/agenda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        margin: 0;
        width: 100%;
        height: 100vh;
    }

    .logo-resp {
        position: relative;
        margin-left: 130px;
        top: 70px;
    }

    .blue-div {
        display: none;
    }

    .blue-div-resp {
        position: relative;
        left: -70px;
        top: 25px;
    }

    .container {
        margin-top: 200px;
        height: 720vh;
        width: 100%;
        border-top-left-radius: 20px;
        /* Arredondar o canto superior esquerdo */
        border-top-right-radius: 20px;
        /* Arredondar o canto superior direito */
    }

    #etapa1 {
        position: relative;
        left: -150px;
    }

    .title-agendamento {
        position: relative;
        font-size: 40px;
        left: 5px;
        top: -10px;
    }

    .subtitle-inicio {
        position: relative;
        text-align: center;
        width: 300px;
        left: -22px;
    }

    #agendamento-container {
        position: relative;
        top: 5px;
        left: -20px;
    }

    #btn-um {
        position: relative;
        margin-left: -12%;
        top: 150px;
    }

    .title-agendamento-um {
        position: relative;
        font-size: 40px;
        margin-left: 5px;
        top: -10px;
    }

    #etapa2 {
        position: relative;
        left: -150px;
    }

    #form-control {
        position: relative;
        left: -30px;
        width: 360px;
    }

    #btn-dois {
        position: relative;
        left: 45px;
    }

    #etapa3 {
        position: relative;
        left: -150px;
    }

    #btn-tres {
        position: relative;
        left: 50px;
    }

    #etapa4 {
        position: relative;
        left: -150px;
    }

    #btn-quatro {
        position: relative;
        left: 50px;
    }

    #etapa5 {
        position: relative;
        left: -150px;
    }

    #btn-cinco {
        position: relative;
        left: 50px;
    }

    #etapa6 {
        position: relative;
        left: -150px;
    }

    #btn-seis {
        position: relative;
        left: 50px;
    }

    #radio {
        position: relative;
        left: 40px;
    }

    textarea {
        width: 250px;
    }

    #etapa7 {
        position: relative;
        left: -150px;
    }

    #sucesso {
        width: 350px;
    }

    #span {
        position: relative;
        top: -20px;
    }

    #agradecimento {
        position: relative;
        top: -20px;
        width: 300px;
    }

    #final {
        position: relative;
        left: 100px;
        margin-top: 10%;
    }

    #sobre {
        position: relative;
        left: -15px;
    }

    #servico {
        position: fixed;
        margin-top: 2%;
        margin-left: -2%;
    }

    #agendamento-container {
        position: relative;
        margin-left: 20%;
    }

    .recado {
        width: 300px;
        position: relative;
        margin-left: 12%;
        top: 80px;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    .logo-resp{
        display: none;
    }
    #blue-div {
        width: 220px;
        background-position: calc(100% - -40px) center;
    }

    .logo {
        position: relative;
        margin-left: -10%;
    }

    .title-agendamento {
        position: relative;
        margin-left: -6%;
    }

    .subtitle-inicio {
        position: relative;
        width: 300px !important;
        font-size: 15px;
        margin-left: -14%;
        text-align: center;
    }

    #servico {
        position: fixed;
        margin-left: -8%
    }

    #agendamento-container {
        position: relative;
        margin-left: 7%;
        top: 14px !important;
    }

    #btn-um {
        position: relative;
        margin-left: -30%;
    }

    .form-control {
        width: 250px !important;
        position: relative;
        margin-left: -18%;
    }

    #sub {
        position: relative;
        text-align: center;
        margin-left: -15%;
    }

    #btn-dois {
        position: relative;
        left: 8px;
    }

    #btn-tres {
        position: relative;
        left: 8px;
    }

    #btn-quatro {
        position: relative;
        left: 8px;
    }

    #btn-cinco {
        position: relative;
        left: 8px;
    }

    #btn-seis {
        position: relative;
        left: 8px;
    }

    #final {
        position: relative;
        left: 60px;
        margin-top: 8px;
    }

    #sucesso {
        position: relative;
        top: -2%;
    }
    #rec{
        top: 40px;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .logo-resp{
        display: none;
    }
    #blue-div {
        width: 300px;
        background-position: calc(100% - -45px) center;
    }

    #servico {
        position: fixed;
        margin-top: 5%;
        margin-left: -2%;
    }

    #agendamento-container {
        position: relative;
        margin-left: 60px;
    }

    .subtitle-inicio {
        font-size: 21px;
    }

    .title-agendamento {
        font-size: 40px;
    }

    #btn-um {
        position: relative;
        margin-left: -45px;
        top: 90px;
    }

    #rec {
        left: -20px;
        top: 10px;
    }

    #etapa2 {
        position: relative;
        left: -25px;
    }

    #etapa3 {
        position: relative;
        left: -25px;
    }

    #etapa4 {
        position: relative;
        left: -25px;
    }

    #etapa5 {
        position: relative;
        left: -25px;
    }

    #etapa6 {
        position: relative;
        left: -25px;
    }

    #sucesso {
        left: -20px;
    }

    #span {
        left: -15px;
    }

    #agradecimento {
        left: -15px;
    }

    #final {
        margin-left: -10px;
    }
}
@media (min-width:992px) and (max-width: 1370px){
    .logo-resp{
        display: none;
    }
    #blue-div {
        width: 400px;
        background-position: calc(100% - 20px) center;
    }

    #servico {
        position: fixed;
        margin-top: 6%;
    }

    #agendamento-container {
        position: relative;
        margin-left: 30px;
    }

    .subtitle-inicio {
        font-size: 21px;
    }

    .title-agendamento {
        font-size: 45px;
    }

    .title-agendamento-um {
        font-size: 40px;
    }

    #btn-um {
        position: relative;
        margin-left: 5px;
        top: 95px;
    }

    #rec {
        left: -30px;
    }

    .form-control {
        width: 450px !important;
    }

    #etapa2 {
        position: relative;
        left: -25px;
    }

    #etapa3 {
        position: relative;
        left: -25px;
    }

    #etapa4 {
        position: relative;
        left: -25px;
    }

    #etapa5 {
        position: relative;
        left: -25px;
    }

    #etapa6 {
        position: relative;
        left: -25px;
    }

    #sucesso {
        left: -20px;
    }

    #span {
        left: -15px;
    }

    #agradecimento {
        left: -15px;
    }

    #final {
        margin-left: -10px;
    }
}
@media (min-width:1370px) and (max-width: 2560px) {
    .logo-resp{
        display: none;
    }
    #blue-div {
        width: 400px;
        background-position: calc(100% - -40px) center;
    }

    #servico {
        position: fixed;
        margin-top: 9%;
    }

    #agendamento-container {
        position: relative;
        margin-left: 30px;
    }

    .subtitle-inicio {
        font-size: 21px;
    }

    .title-agendamento {
        font-size: 45px;
    }

    .title-agendamento-um {
        font-size: 40px;
    }

    #btn-um {
        position: relative;
        margin-left: 5px;
        top: 95px;
    }

    #rec {
        left: -30px;
    }

    .form-control {
        width: 450px !important;
    }

    #etapa2 {
        position: relative;
        left: -25px;
    }

    #etapa3 {
        position: relative;
        left: -25px;
    }

    #etapa4 {
        position: relative;
        left: -25px;
    }

    #etapa5 {
        position: relative;
        left: -25px;
    }

    #etapa6 {
        position: relative;
        left: -25px;
    }

    #sucesso {
        left: -20px;
    }

    #span {
        left: -15px;
    }

    #agradecimento {
        left: -15px;
    }

    #final {
        margin-left: -10px;
    }
}