@media (min-width:310px) and (max-width: 350px){
    body{
        background-color: #52bacb;
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -34%;
        margin-top: 25%;
    }
    .form-control{
        width: 245px;
        height: 35px;
    }
    .sub-title-title{
        font-size: 15px;
    }
    .btn-custom{
        width: 150px;
        margin-left: -25%;
        margin-bottom: 25%;
    }
    .container{
        position: absolute;
        margin-top: 60%;
        height: 750px;
        width: 310px;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        margin-top: -175px;
    }
    .title-blue-div1{
        font-size: 15px;
    }
    .title-blue-div2{
        margin-top: 0%;
        font-size: 22px;
    }
    .title-blue-div3{
        font-size: 14px;
    }
}
