@media (min-width:310px) and (max-width: 400px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    /*index*/
    .content{
        width: 300px;
        position: relative;
        left: 90px;
        top: -950px;
    }
    .form{
        width: 250px;
    }
    #title-atv{
        font-size: 30px;
        width: 250px;
    }
    #btn-htrc{
        position: relative;
        top: -20px;
    }
    .table {
        width: 250px; /* Defina a largura máxima para o contêiner da tabela */
        overflow-x: auto; /* Permite rolagem horizontal */
        border: 1px solid #ccc; /* Opcional: borda ao redor do contêiner */
        white-space: nowrap; /* Evita quebra de linha nas células da tabela */
    }
    
    
    /* Customização da barra de rolagem */
    .table::-webkit-scrollbar {
        width: 5px; /* Largura da barra de rolagem */
    }
    
    .table::-webkit-scrollbar-track {
        background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    }
    
    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb; /* Cor da barra de rolagem */
        border-radius: 10px; /* Deixa a barra arredondada */
    }
    
    .table::-webkit-scrollbar-thumb:hover {
        background-color: #3ea2b0; /* Cor ao passar o mouse sobre a barra */
    }
    #container-htrc{
        position: relative;
        left: 40px;
    }
    #title-htrc{
        font-size: 30px;
    }
    #container-diario{
        position: relative;
        top: 150px;
        left: -130px;
    }
    .btn-add{
        position: relative;
        left: -10px;
        top: -250px;
    }
    .add-event-wrapper{
        width: 250px;
        position: relative;
        top: -300px;
        left: 20px;
    }
    .calendar{
        width: 250px;
    }
    .date{
        font-size: 14px;
    }
    #sem{
        font-size: 12px;
    }
    .event-date{
        position: relative;
        left: -65px;
    }
    #title-alt{
        font-size: 30px;
    }
    .valores{
        position: relative;
        left: -20px;
    }
    .container-valores{
        width: 280px;
    }
    .id{
        font-size: 15px;
    }
    #tipo-val{
        font-size: 12px;
    }
    #nome-val, #valor-val{
        font-size: 13px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #valor-val{
        position: relative;
        left: 10px;
    }
    #gerencia{
        position: relative;
        left: 130px;
        top: -950px;
    }
    #container-sair{
        position: relative;
        left: -70px;
        top: 100px;
    }
}
@media (min-width:401px) and (max-width: 450px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    /*index*/
    .content{
        width: 300px;
        position: relative;
        left: 110px;
        top: -1280px;
    }
    .form{
        width: 250px;
    }
    #title-atv{
        font-size: 30px;
        width: 250px;
    }
    #btn-htrc{
        position: relative;
        top: -20px;
    }
    .table {
        position: relative;
        left: -20px;
        width: 290px; /* Defina a largura máxima para o contêiner da tabela */
        overflow-x: auto; /* Permite rolagem horizontal */
        border: 1px solid #ccc; /* Opcional: borda ao redor do contêiner */
        white-space: nowrap; /* Evita quebra de linha nas células da tabela */
    }
    
    
    /* Customização da barra de rolagem */
    .table::-webkit-scrollbar {
        width: 5px; /* Largura da barra de rolagem */
    }
    
    .table::-webkit-scrollbar-track {
        background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    }
    
    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb; /* Cor da barra de rolagem */
        border-radius: 10px; /* Deixa a barra arredondada */
    }
    
    .table::-webkit-scrollbar-thumb:hover {
        background-color: #3ea2b0; /* Cor ao passar o mouse sobre a barra */
    }
    #container-htrc{
        position: relative;
        left: 60px;
    }
    #title-htrc{
        font-size: 30px;
    }
    #container-diario{
        position: relative;
        top: -180px;
        left: -130px;
    }
    .calendar{
        width: 290px;
    }
    .date{
        font-size: 16px;
    }
    #sem{
        font-size: 14px;
    }
    .event-date{
        position: relative;
        left: -35px;
    }
    .btn-add{
        position: relative;
        left: 20px;
        top: -250px;
    }
    .add-event-wrapper{
        width: 250px;
        position: relative;
        top: -300px;
        left: 40px;
    }
    #title-alt{
        font-size: 30px;
    }
    .valores{
        position: relative;
        left: -20px;
    }
    .container-valores{
        width: 280px;
    }
    .id{
        font-size: 15px;
    }
    #tipo-val{
        font-size: 12px;
    }
    #nome-val, #valor-val{
        font-size: 13px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #valor-val{
        position: relative;
        left: 10px;
    }
    #gerencia{
        position: relative;
        left: 130px;
        top: -1250px;
    }
    #container-sair{
        position: relative;
        left: -60px;
        top: -200px;
    }
}
@media (min-width:451px) and (max-width: 500px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    /*index*/
    .content{
        width: 300px;
        position: relative;
        left: 110px;
        top: -700px;
    }
    .form{
        width: 250px;
    }
    #title-atv{
        font-size: 35px;
        width: 250px;
    }
    #btn-htrc{
        position: relative;
        top: -20px;
    }
    .table {
        position: relative;
        left: -20px;
        width: 320px; /* Defina a largura máxima para o contêiner da tabela */
        overflow-x: auto; /* Permite rolagem horizontal */
        border: 1px solid #ccc; /* Opcional: borda ao redor do contêiner */
        white-space: nowrap; /* Evita quebra de linha nas células da tabela */
    }
    
    
    /* Customização da barra de rolagem */
    .table::-webkit-scrollbar {
        width: 5px; /* Largura da barra de rolagem */
    }
    
    .table::-webkit-scrollbar-track {
        background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    }
    
    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb; /* Cor da barra de rolagem */
        border-radius: 10px; /* Deixa a barra arredondada */
    }
    
    .table::-webkit-scrollbar-thumb:hover {
        background-color: #3ea2b0; /* Cor ao passar o mouse sobre a barra */
    }
    #container-htrc{
        position: relative;
        left: 60px;
    }
    #title-htrc{
        font-size: 35px;
    }
    #container-diario{
        position: relative;
        top: 380px;
        left: -110px;
    }
    .calendar{
        width: 290px;
    }
    .date{
        font-size: 16px;
    }
    #sem{
        font-size: 14px;
    }
    .event-date{
        position: relative;
        left: -35px;
    }
    .btn-add{
        position: relative;
        left: 20px;
        top: -250px;
    }
    .add-event-wrapper{
        width: 290px;
        position: relative;
        top: -300px;
        left: 40px;
    }
    #title-alt{
        font-size: 30px;
    }
    .valores{
        position: relative;
        left: -20px;
    }
    .container-valores{
        width: 300px;
    }
    .id{
        font-size: 15px;
    }
    #tipo-val{
        font-size: 12px;
    }
    #nome-val, #valor-val{
        font-size: 13px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #valor-val{
        position: relative;
        left: 10px;
    }
    #gerencia{
        position: relative;
        left: 150px;
        top: -700px;
    }
    #container-sair{
        position: relative;
        left: -60px;
        top: 450px;
    }
}
@media (min-width:501px) and (max-width: 550px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    /*index*/
    .content{
        width: 300px;
        position: relative;
        left: 110px;
        top: -700px;
    }
    .form{
        width: 250px;
    }
    #title-atv{
        font-size: 35px;
        width: 250px;
    }
    #btn-htrc{
        position: relative;
        top: -20px;
    }
    .table {
        position: relative;
        left: -20px;
        width: 320px; /* Defina a largura máxima para o contêiner da tabela */
        overflow-x: auto; /* Permite rolagem horizontal */
        border: 1px solid #ccc; /* Opcional: borda ao redor do contêiner */
        white-space: nowrap; /* Evita quebra de linha nas células da tabela */
    }
    
    
    /* Customização da barra de rolagem */
    .table::-webkit-scrollbar {
        width: 5px; /* Largura da barra de rolagem */
    }
    
    .table::-webkit-scrollbar-track {
        background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    }
    
    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb; /* Cor da barra de rolagem */
        border-radius: 10px; /* Deixa a barra arredondada */
    }
    
    .table::-webkit-scrollbar-thumb:hover {
        background-color: #3ea2b0; /* Cor ao passar o mouse sobre a barra */
    }
    #container-htrc{
        position: relative;
        left: 60px;
    }
    #title-htrc{
        font-size: 35px;
    }
    #container-diario{
        position: relative;
        top: 380px;
        left: -110px;
    }
    .calendar{
        width: 290px;
    }
    .date{
        font-size: 16px;
    }
    #sem{
        font-size: 14px;
    }
    .event-date{
        position: relative;
        left: -35px;
    }
    .btn-add{
        position: relative;
        left: 20px;
        top: -250px;
    }
    .add-event-wrapper{
        width: 290px;
        position: relative;
        top: -300px;
        left: 40px;
    }
    #title-alt{
        font-size: 30px;
    }
    .valores{
        position: relative;
        left: -20px;
    }
    .container-valores{
        width: 300px;
    }
    .id{
        font-size: 15px;
    }
    #tipo-val{
        font-size: 12px;
    }
    #nome-val, #valor-val{
        font-size: 13px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #valor-val{
        position: relative;
        left: 10px;
    }
    #gerencia{
        position: relative;
        left: 150px;
        top: -700px;
    }
    #container-sair{
        position: relative;
        left: -60px;
        top: 450px;
    }
}