@media (min-width:310px) and (max-width: 375px){

    .home .header{
        display: none;
    }
    #title{
        position: relative;
        left: -30px;
        top: 25px;
        font-size: 35px;
        line-height: 40px;
        width: 200px;
    }
    #subtitle{
        font-size: 14px;
        position: relative;
        left: -180px;
        top: 45px;
        width: 500px;
        height: 70px;
    }
    .home .content p{
        text-align: left;
        position: relative;
        top: -25px;
    }
    .one{
        position: relative;
        text-align: left;
        left: -70px;
        width: 300px;
    }
    #sub-sub{
        position: relative;
        top: -20px !important;
        left: -70px;
        width: 300px;
        font-size: 30px !important;
    }
}