@media (min-width:310px) and (max-width: 410px) {
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content {
        position: relative;
        left: -320px;
    }

    .form {
        width: 250px;
    }

    #title-atv {
        width: 250px;
        font-size: 35px;
    }

    #title-htrc {
        width: 250px;
        font-size: 35px;
    }

    #btn-htrc {
        position: relative;
        top: -20px;
    }

    .table {
        width: 250px;
        /* Define a largura da área visível da tabela */
        overflow-x: auto;
        /* Permite rolagem horizontal */
        white-space: nowrap;
        /* Impede que o conteúdo quebre para uma nova linha */
    }

    .table::-webkit-scrollbar {
        height: 8px;
        /* Define a altura da barra de rolagem horizontal */
    }

    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb;
        /* Cor da barra de rolagem */
        border-radius: 4px;
        /* Bordas arredondadas na barra de rolagem */
    }

    .table::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        /* Cor do fundo da barra de rolagem */
    }

    .right {
        position: relative;
        left: -210px;
    }

    .calendar {
        width: 250px;
    }

    .date {
        font-size: 15px;
    }

    .weekdays {
        display: flex;
        gap: 10px;
        /* Define o espaçamento entre as divs */
    }

    #sem {
        position: relative;
        left: -11px;
        font-size: 13px;
    }
    .event-date{
        position: relative;
        left: -170px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: -120px;
    }
    #title-alt{
        position: relative;
        left: 10px;
        font-size: 35px;
        width: 250px;
    }
    .container-valores{
        width: 250px;
        height: 70px;
    }
    .id{
        position: relative;
        left: -15px;
    }
    .editar{
        position: relative;
        left: 15px;
    }
    #nome-val{
        font-size: 14px;
        position: relative;
        left: -15px;
    }
    #tipo-val{
        font-size: 12px;
        position: relative;
        left: -5px;
    }
    #valor-val{
        font-size: 14px;
        position: relative;
        left: 10px;
    }
    .row{
        position: relative;
        left: -200px;
        top: 100px;
    }
    #container-sair{
        position: relative;
        left: -60px;
        top:200px;
    }

}
@media (min-width:411px) and (max-width: 450px) {
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content {
        position: relative;
        left: -300px;
    }

    .form {
        width: 250px;
    }

    #title-atv {
        width: 250px;
        font-size: 35px;
    }

    #title-htrc {
        width: 250px;
        font-size: 35px;
    }

    #btn-htrc {
        position: relative;
        top: -20px;
    }

    .table {
        width: 250px;
        /* Define a largura da área visível da tabela */
        overflow-x: auto;
        /* Permite rolagem horizontal */
        white-space: nowrap;
        /* Impede que o conteúdo quebre para uma nova linha */
    }

    .table::-webkit-scrollbar {
        height: 8px;
        /* Define a altura da barra de rolagem horizontal */
    }

    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb;
        /* Cor da barra de rolagem */
        border-radius: 4px;
        /* Bordas arredondadas na barra de rolagem */
    }

    .table::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        /* Cor do fundo da barra de rolagem */
    }

    .right {
        position: relative;
        left: -210px;
    }

    .calendar {
        width: 250px;
    }

    .date {
        font-size: 15px;
    }

    .weekdays {
        display: flex;
        gap: 10px;
        /* Define o espaçamento entre as divs */
    }

    #sem {
        position: relative;
        left: -11px;
        font-size: 13px;
    }
    .event-date{
        position: relative;
        left: -170px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: -120px;
    }
    #title-alt{
        position: relative;
        left: 10px;
        font-size: 35px;
        width: 250px;
    }
    .container-valores{
        width: 250px;
        height: 70px;
    }
    .id{
        position: relative;
        left: -15px;
    }
    .editar{
        position: relative;
        left: 15px;
    }
    #nome-val{
        font-size: 14px;
        position: relative;
        left: -15px;
    }
    #tipo-val{
        font-size: 12px;
        position: relative;
        left: -5px;
    }
    #valor-val{
        font-size: 14px;
        position: relative;
        left: 10px;
    }
    .row{
        position: relative;
        left: -200px;
        top: 100px;
    }
    #container-sair{
        position: relative;
        left: -60px;
        top: -170px;
    }

}
@media (min-width:451px) and (max-width: 500px) {
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content {
        position: relative;
        left: -300px;
    }

    .form {
        width: 250px;
    }

    #title-atv {
        width: 250px;
        font-size: 35px;
    }

    #title-htrc {
        width: 250px;
        font-size: 35px;
    }

    #btn-htrc {
        position: relative;
        top: -20px;
    }

    .table {
        width: 300px;
        /* Define a largura da área visível da tabela */
        overflow-x: auto;
        /* Permite rolagem horizontal */
        white-space: nowrap;
        /* Impede que o conteúdo quebre para uma nova linha */
    }

    .table::-webkit-scrollbar {
        height: 8px;
        /* Define a altura da barra de rolagem horizontal */
    }

    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb;
        /* Cor da barra de rolagem */
        border-radius: 4px;
        /* Bordas arredondadas na barra de rolagem */
    }

    .table::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        /* Cor do fundo da barra de rolagem */
    }

    .right {
        position: relative;
        left: -210px;
    }

    .calendar {
        width: 300px;
    }

    .date {
        font-size: 16px;
    }

    .weekdays {
        display: flex;
        gap: 10px;
        /* Define o espaçamento entre as divs */
    }

    #sem {
        position: relative;
        left: -11px;
        font-size: 13px;
    }
    .event-date{
        position: relative;
        left: -150px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: -90px;
    }
    #title-alt{
        position: relative;
        left: 10px;
        font-size: 35px;
        width: 250px;
    }
    .container-valores{
        width: 300px;
        height: 70px;
    }
    .id{
        position: relative;
        left: -15px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #nome-val{
        font-size: 16px;
        position: relative;
        left: -15px;
    }
    #tipo-val{
        font-size: 13px;
        position: relative;
        left: -5px;
    }
    #valor-val{
        font-size: 16px;
        position: relative;
        left: 10px;
    }
    .row{
        position: relative;
        left: -200px;
        top: 100px;
    }
    #container-sair{
        position: relative;
        left: -60px;
    }

}
@media (min-width:501px) and (max-width: 600px) {
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content {
        position: relative;
        left: -300px;
    }

    .form {
        width: 250px;
    }

    #title-atv {
        width: 250px;
        font-size: 35px;
    }

    #title-htrc {
        width: 250px;
        font-size: 35px;
    }

    #btn-htrc {
        position: relative;
        top: -20px;
    }

    .table {
        position: relative;
        left: -20px;
        width: 390px;
        /* Define a largura da área visível da tabela */
        overflow-x: auto;
        /* Permite rolagem horizontal */
        white-space: nowrap;
        /* Impede que o conteúdo quebre para uma nova linha */
    }

    .table::-webkit-scrollbar {
        height: 8px;
        /* Define a altura da barra de rolagem horizontal */
    }

    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb;
        /* Cor da barra de rolagem */
        border-radius: 4px;
        /* Bordas arredondadas na barra de rolagem */
    }

    .table::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        /* Cor do fundo da barra de rolagem */
    }

    .right {
        position: relative;
        left: -210px;
    }

    .calendar {
        width: 360px;
    }
    .weekdays {
        display: flex;
        gap: 10px;
        /* Define o espaçamento entre as divs */
    }

    #sem {
        position: relative;
        left: 2px;
    }
    .event-date{
        position: relative;
        left: -120px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: -50px;
    }
    #title-alt{
        position: relative;
        left: 10px;
        font-size: 35px;
        width: 250px;
    }
    .container-valores{
        width: 300px;
        height: 70px;
    }
    .id{
        position: relative;
        left: -15px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #nome-val{
        font-size: 16px;
        position: relative;
        left: -15px;
    }
    #tipo-val{
        font-size: 13px;
        position: relative;
        left: -5px;
    }
    #valor-val{
        font-size: 16px;
        position: relative;
        left: 10px;
    }
    .row{
        position: relative;
        left: -200px;
        top: 100px;
    }
    #container-sair{
        position: relative;
        left: -60px;
    }

}
@media (min-width:601px) and (max-width: 700px) {
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content {
        position: relative;
        left: -300px;
    }

    .form {
        width: 250px;
    }

    #btn-htrc {
        position: relative;
        top: -20px;
    }

    .table {
        position: relative;
        left: -30px;
        width: 500px;
        /* Define a largura da área visível da tabela */
        overflow-x: auto;
        /* Permite rolagem horizontal */
        white-space: nowrap;
        /* Impede que o conteúdo quebre para uma nova linha */
    }

    .table::-webkit-scrollbar {
        height: 8px;
        /* Define a altura da barra de rolagem horizontal */
    }

    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb;
        /* Cor da barra de rolagem */
        border-radius: 4px;
        /* Bordas arredondadas na barra de rolagem */
    }

    .table::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        /* Cor do fundo da barra de rolagem */
    }

    .right {
        position: relative;
        left: -210px;
    }

    .calendar {
        width: 450px;
    }
    .weekdays {
        display: flex;
        gap: 10px;
        /* Define o espaçamento entre as divs */
    }

    #sem {
        position: relative;
        left: 2px;
    }
    .event-date{
        position: relative;
        left: -80px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: -20px;
    }
    #title-alt{
        position: relative;
        left: 10px;
        width: 450px;
    }
    .container-valores{
        width: 450px;
        height: 70px;
    }
    .id{
        position: relative;
        left: -15px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #nome-val{
        font-size: 16px;
        position: relative;
        left: -15px;
    }
    #tipo-val{
        font-size: 15px;
        position: relative;
        left: -5px;
    }
    #valor-val{
        font-size: 16px;
        position: relative;
        left: 10px;
    }
    .row{
        position: relative;
        left: -200px;
        top: 100px;
    }
    #container-sair{
        position: relative;
        left: -60px;
    }

}
@media (min-width:701px) and (max-width: 784px) {
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content {
        position: relative;
        left: -300px;
    }

    .form {
        width: 450px;
    }

    #btn-htrc {
        position: relative;
        top: -3px;
        left: 10px;
    }

    .table {
        position: relative;
        left: -20px;
        width: 580px;
        /* Define a largura da área visível da tabela */
        overflow-x: auto;
        /* Permite rolagem horizontal */
        white-space: nowrap;
        /* Impede que o conteúdo quebre para uma nova linha */
    }

    .table::-webkit-scrollbar {
        height: 8px;
        /* Define a altura da barra de rolagem horizontal */
    }

    .table::-webkit-scrollbar-thumb {
        background-color: #52bacb;
        /* Cor da barra de rolagem */
        border-radius: 4px;
        /* Bordas arredondadas na barra de rolagem */
    }

    .table::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        /* Cor do fundo da barra de rolagem */
    }

    .right {
        position: relative;
        left: -210px;
    }
    .weekdays {
        display: flex;
        gap: 10px;
        /* Define o espaçamento entre as divs */
    }

    #sem {
        position: relative;
        left: 2px;
    }
    .event-date{
        position: relative;
        left: -50px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: 5px;
    }
    #title-alt{
        position: relative;
        left: 10px;
        width: 450px;
    }
    .container-valores{
        width: 550px;
        height: 70px;
    }
    .id{
        position: relative;
        left: -15px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #nome-val{
        font-size: 16px;
        position: relative;
        left: -15px;
    }
    #tipo-val{
        font-size: 15px;
        position: relative;
        left: -5px;
    }
    #valor-val{
        font-size: 16px;
        position: relative;
        left: 10px;
    }
    .row{
        position: relative;
        left: -200px;
        top: 100px;
    }
    #container-sair{
        position: relative;
        left: -60px;
    }

}
@media (min-width:785px) and (max-width: 880px) {
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content {
        position: relative;
        left: -315px;
    }

    .form {
        width: 450px;
    }

    #btn-htrc {
        position: relative;
        top: -3px;
        left: 10px;
    }

    .right {
        position: relative;
        left: -210px;
    }
    .weekdays {
        display: flex;
        gap: 10px;
        /* Define o espaçamento entre as divs */
    }

    #sem {
        position: relative;
        left: 2px;
    }
    .event-date{
        position: relative;
        left: -50px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: 5px;
    }
    #title-alt{
        position: relative;
        left: 10px;
        width: 450px;
    }
    .container-valores{
        width: 620px;
        height: 70px;
    }
    .id{
        position: relative;
        left: -15px;
    }
    .editar{
        position: relative;
        left: 10px;
    }
    #nome-val{
        font-size: 16px;
        position: relative;
        left: -15px;
    }
    #tipo-val{
        font-size: 15px;
        position: relative;
        left: -5px;
    }
    #valor-val{
        font-size: 16px;
        position: relative;
        left: 10px;
    }
    .row{ width: 800px;
        position: relative;
        left: -235px;
        top: 100px;
    }
    #container-sair{
        position: relative;
        left: -60px;
    }

}
@media (min-width:881px) and (max-width: 1023px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content{
        position: relative;
        left: -300px;
    }
    .form{
        width: 450px;
    }
    .right {
        position: relative;
        left: -150px;
    }
    .container-valores{
        position: relative;
        left: -10px;
        width: 700px;
    }
    #title-alt{
        position: relative;
        left: 5px;
    }
    .row{ width: 800px;
        position: relative;
        left: -200px;
        top: 100px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: 65px;
    }
    #container-sair{
        position: relative;
        left: -50px;
        top: 250px;
    }

}
@media (min-width:1024px) and (max-width: 2560px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    .content{
        position: relative;
        left: -290px;
    }
    .form{
        width: 450px;
    }
    .right {
        position: relative;
        left: -150px;
    }
    .container-valores{
        position: relative;
        left: -10px;
        width: 700px;
    }
    #title-alt{
        position: relative;
        left: 5px;
    }
    .row{ width: 800px;
        position: relative;
        left: -200px;
        top: 100px;
    }
    .btn-add{
        position: relative;
        top: -300px;
        left: 65px;
    }
    #container-sair{
        position: relative;
        left: -50px;
        top: 150px;
    }
}
@media (min-width: 390px) and (min-height: 844px){
    #container-sair{
        position: relative;
        top: -100px;
    }
}
@media (min-width: 430px) and (min-height: 932px){
    #container-sair{
        position: relative;
        top: -220px;
    }
}
@media (min-width: 412px) and (min-height: 915px){
    #container-sair{
        position: relative;
        top: -220px;
    }
}
@media (min-width: 360px) and (min-height: 740px){
    #container-sair{
        position: relative;
        top: 50px;
        left: -80px;
    }
}
@media (min-width: 768px) and (min-height: 1024px){
    #container-sair{
        position: relative;
        top: -380px;
        left: -50px;
    }
}
@media (min-width: 820px) and (min-height: 1180px){
    #container-sair{
        position: relative;
        top: -600px;
        left: -50px;
    }
}
@media (min-width: 1024px) and (min-height: 1366px){
    #container-sair{
        position: relative;
        top: -880px;
        left: -50px;
    }
}
@media (min-width: 412px) and (min-height: 914px){
    #container-sair{
        position: relative;
        top: -210px;
        left: -50px;
    }
}
@media (min-width: 1920px) and (min-height: 1080px) {
    #container-sair{
        position: relative;
        top: -400px;
    }
}
