
@media (min-width:310px) and (max-width: 350px)  {
    .tela-inicial{
        background-image: url(imgs/fundo-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 355px;
        height: 730px;

    }
    .titulo-site{
        font-size: 45px;
        text-align: center;
    }
    .info-inicial{
        width: auto;
        text-align: center;
        position: absolute;
        margin-left: 25px;
        
    }
    .fa-solid{
        font-size: 23px;
        width: 10px;
        height: 2px;
    }
    .subtitulo-site{
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }
    .info-inicial p{
        text-align: center;
        font-size: 14px;
    }
    .informacao{
        margin-top: 150px;
        margin-left: 15px;
    }
    #info-cao {
        width: 300px;
        height: 230px;
        margin: auto;
    }
    #info-gato {
        width: 300px;
        height: 230px;
        margin: auto;
        margin-top: 20px;
    }
    .btn-inicio{
        font-size: 18px;
        text-align: center;
    }
    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    
    #info-cao h3 {
       font-size: 40px;
       margin-bottom: 15px;
    }
    
    #info-gato p {
        font-size: 14px;
    }
    
    #info-cao p {   
        font-size: 14px;
    }
    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height:30px;
    }
    .titulo-vacina h2{
        font-size: 30px;
    }
    .secao-valores{
        position: relative;
        bottom: 50px;
    }
    .btn-vacinas{
        width: 150px;
        height: 40px;
    }
    .fundo-atendimento{
        width: 350px;
        height: 650px;
    }
    .conteudo-atend {
        width: auto;
        margin: 0;
        margin-right: 20px;
    }
    .conteudo-atend h2{
        font-size: 32px;
        text-align: left;
    }
    .conteudo-atend p{
        font-size: 15.5px;
    }
    .btn-ler-atend{
      font-size: 18px;
    }
}

@media (max-width:740px) and (min-width:350px) {
    .tela-inicial{
        background-image: url(imgs/fundo-mobile-530.png);
        background-repeat: no-repeat;

        height: 650px;

    }
    .titulo-site{
        font-size: 50px;
        text-align: center;
    }
    .info-inicial{
        width: auto;
        margin: 7px;
        text-align: center;
        position: absolute;
        
    }
    .fa-solid{
        font-size: 23px;
        width: 10px;
        height: 2px;
    }
    .subtitulo-site{
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }
    .info-inicial p{
        text-align: center;
        font-size: 17px;
    }
    .informacao{
        margin-top: 150px;
        margin-bottom: 50px;
    }
    #info-cao {
        width: 357px;
        height: 230px;
        margin: auto;
    }
    #info-gato {
        width: 357px;
        height: 230px;
        margin: auto;
        margin-top: 20px;
    }
    .btn-inicio{
        font-size: 18px;
    }
    #info-gato h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    
    #info-cao h3 {
       font-size: 40px;
       margin-bottom: 15px;
    }
    
    #info-gato p {
        font-size: 14px;
    }
    
    #info-cao p {   
        font-size: 14px;
    }
    .informacao button {
        font-size: 17px;
        padding: 2px;
        color: #2FA8BB;
        height:30px;
    }
    .titulo-vacina h2{
        font-size: 30px;
    }
    .secao-valores{
        position: relative;
        bottom: 60px;
    }
    .btn-vacinas{
        width: 150px;
        height: 40px;
    }
    .fundo-atendimento{
        height: 650px;
    }
    .conteudo-atend {
        width: auto;
        margin: 0;
        margin-right: 20px;
    }
    .conteudo-atend h2{
        font-size: 35px;
        text-align: left;
    }
    .conteudo-atend p{
        font-size: 17.5px;
    }
    .btn-ler-atend{
      font-size: 20px;
    }
    
    
}














@media (min-width:768px) and (max-width: 992px) {
    /* de 768px até 992px*/
}
@media (min-width:992px) {
    /* acima de 992px */
    /* ... */
}