@media (min-width:310px) and (max-width: 400px){
    body{
        background-image: url(imgs/doutora.png);
        background-repeat: no-repeat;
        background-size: 410px;
        background-position: calc(0% + -20px) calc(50% + -910px);
    }
    .title{
        color:
    }
}