@media (min-width:310px) and (max-width: 375px) {

    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }

    body {
        background-image: url(imgs/cadresp.jpg);
        background-position: calc(0% + -70px) calc(50% + -170px);
        background-repeat: no-repeat;
        background-color: #52bacb;
        background-size: 450px;
    }
    .blue-div-resp {
        position: relative;
        top: -260px;
    }
    .title-blue-div1{
        position: relative;
        top: 70px;
        left: 30px;
    }
    .title-blue-div2{
        position: relative;
        top: -10px;
        left: 30px;
    }
    .title-blue-div3{
        position: relative;
        top: -20px;
        font-size: 15px;
        width: 200px;
        left: 30px;
    }
    .title-title{
        font-size: 45px;
        position: relative;
        left: 35px;
    }
    .sub-title-title{
        font-size: 18px;
    }
    .container {
        position: relative;
        top: 800px;
        width: 405px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        box-shadow: none;
        height: 200vh;
    }

    #etapa1, #etapa2, #etapa3, #etapa4 {
        position: relative;
        left: -100px;
    }
    #sub, #sub2{
        width: 300px;
    }
    .form-control {
        width: 300px;
    }
    #btn1{
        position: relative;
        left: -60px;
    }
    #btn2-ant, #btn3-ant{
        position: relative;
        left: 20px;
        top: 20px;
    }
    #btn2-prox, #btn3-prox{
        position: relative;
        left: 20px;
        top: 40px;
    }
    #btn4-ant{
        position: relative;
        top: 70px;
        left: 20px;
    }
    #btn4-prox{
        position: relative;
        top: 90px;
        left: 20px;
    }
    .blue-div {
        display: none;
    }

}