@media (min-width:310px) and (max-width: 350px){
    body{
        background-color: #52bacb;
        background-image: url('./imgs/cadresp.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -34%;
        margin-top: 5%;
    }
    .form-control{
        width: 245px;
        height: 40px;
    }
    .sub-title-title{
        font-size: 15px;
    }   
    .btn-custom{
        position: relative;
        width: 150px;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .form-control1{
        position: relative;
        left: -8%;
    }
    .container{
        margin-top: 335px;
        height: 850px;
        width: 100%;
        position: absolute;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        margin-top: -155px;
    }
    .btn-perso {
        position: relative;
        font-family: 'baloo';
        width: 150px;
        color: white;
        margin-left: 10%;
        margin-bottom: -100%;
    }
    .btn-cad{
        position: relative;
        align-items: center;
        margin-left: -25%;
    }
    .quad-blue{
        position: relative;
        margin-left: -1%;
        margin-bottom: 15%;
    }
    #msg{
        height: 100px;
    }
    .div-botoes2{
        position: relative;
        left: 10%;
    }

}
@media (min-width:350px) and (max-width: 375px){
    body{
        background-color: #52bacb;
        background-image: url('./imgs/cadresp.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -31%;
        margin-top: 18%;
    }
    .form-control{
        width: 255px;
        height: 42px;
    }
    .sub-title-title{
        font-size: 20px;
    }
    .btn-custom{
        position: relative;
        width: 150px;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .container{
        position: absolute;
        margin-top: 390px;
        height: 900px;
        width: 100%;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        margin-top: -175px;
    }
    .title-blue-div1{
        font-size: 19px;
    }
    .title-blue-div2{
        margin-top: 0%;
        font-size: 27px;
    }
    .title-blue-div3{
        font-size: 15px;
    }
    .btn-perso {
        position: relative;
        font-family: 'baloo';
        width: 150px;
        color: white;
        margin-left: 10%;
        margin-bottom: -100%;
    }
    .btn-cad{
        position: relative;
        align-items: center;
        margin-left: -25%;
    }
    .quad-blue{
        position: relative;
        margin-left: 0%;
        margin-bottom: 15%;
    }
    #msg{
        height: 100px;
    }
    .div-botoes2{
        position: relative;
        left: 10%;
    }
    #btn-etapa4{
        top: -60px;
    }
    #btn-btn-etapa4{
        top: -15px;
    }    /* Arrumar botões */

}
@media (min-width:375px) and (max-width: 400px){
    body{
        background-color: #52bacb;
        background-image: url('./imgs/cadresp.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -30%;
        margin-top: 10%;
    }
    .form-control{
        width: 285px;
        height: 42px;
    }
    .sub-title-title{
        font-size: 20px;
    }
    .btn-custom{
        position: relative;
        width: 150px;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .container{
        position: absolute;
        margin-top: 400px;
        height: 900px;
        width: 100%;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        margin-top: -175px;
    }
    .title-blue-div1{
        font-size: 19px;
    }
    .title-blue-div2{
        margin-top: 0%;
        font-size: 27px;
    }
    .title-blue-div3{
        font-size: 15px;
    }
    .btn-perso {
        position: relative;
        font-family: 'baloo';
        width: 150px;
        color: white;
        margin-left: 10%;
        margin-bottom: -100%;
    }
    .btn-cad{
        position: relative;
        align-items: center;
        margin-left: -25%;
    }
    .quad-blue{
        position: relative;
        margin-left: 0%;
        margin-bottom: 15%;
    }
    #msg{
        height: 100px;
    }
    .div-botoes2{
        position: relative;
        left: 10%;
    }
    #btn-etapa4{
        top: -60px;
    }
    #btn-btn-etapa4{
        top: -15px;
    }    /* Arrumar botões */

}
@media (min-width:401px) and (max-width: 450px){
    body{
        background-color: #52bacb;
        background-image: url('./imgs/cadresp.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -33%;
        margin-top: 13%;
    }
    .form-control{
        width: 335px;
        height: 42px;
    }
    .sub-title-title{
        font-size: 21px;
    }
    .btn-custom{
        position: relative;
        width: 150px;
        margin-left: 20%;
        margin-bottom: 5%;
    }
    .container{
        position: absolute;
        margin-top: 430px;
        height: 900px;
        width: 100%;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        margin-top: -175px;
    }
    .title-blue-div1{
        position: relative;
        font-size: 19px;
        margin-left: 5%;
    }
    .title-blue-div2{
        position: relative;
        margin-top: 0%;
        font-size: 27px;
        margin-left: 5%;
    }
    .title-blue-div3{
        position: relative;
        font-size: 16px;
        margin-left: 5%;
    }
    .btn-perso {
        position: relative;
        font-family: 'baloo';
        width: 150px;
        color: white;
        margin-left: 20%;
        margin-bottom: -95%;
    }
    .btn-cad{
        position: relative;
        align-items: center;
        margin-left: -15%;
    }
    .quad-blue{
        position: relative;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    #msg{
        height: 100px;
    }
    .div-botoes2{
        position: relative;
        left: 10%;
    }
    #btn-etapa4{
        top: -60px;
    }
}
@media (min-width:451px) and (max-width: 500px){
    body{
        background-color: #52bacb;
        background-image: url('./imgs/cadresp.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -33%;
        margin-top: 10%;
    }
    .form-control{
        width: 380px;
        height: 45px;
    }
    .sub-title-title{
        font-size: 21px;
    }
    .btn-custom{
        position: relative;
        width: 150px;
        margin-left: 23%;
        margin-bottom: 10%;
    }
    .container{
        position: absolute;
        margin-top: 445px;
        height: 900px;
        width: 100%;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        margin-top: -175px;
    }
    .title-blue-div1{
        position: relative;
        font-size: 19px;
        margin-left: 5%;
        top:-30px;
    }
    .title-blue-div2{
        position: relative;
        font-size: 27px;
        margin-left: 5%;
        top: -40px;
    }
    .title-blue-div3{
        position: relative;
        font-size: 16px;
        margin-left: 5%;
        top: -50px;
    }
    .btn-perso {
        position: relative;
        font-family: 'baloo';
        width: 150px;
        color: white;
        margin-left: 23%;
        margin-bottom: -65%;
    }
    .btn-cad{
        position: relative;
        align-items: center;
        margin-left: -10%;
    }
    .quad-blue{
        position: relative;
        margin-left: 10%;
        margin-bottom: 15%;
        width: 300px;
        height: 150px;
    }
    .custom-file-upload{
        width: 260px;
        height: 120px;
    }
    #msg{
        height: 100px;
    }
    .div-botoes2{
        position: relative;
        left: 10%;
    }
}
@media (min-width:501px) and (max-width: 525px){
    body{
        background-color: #52bacb;
        background-image: url('./imgs/cadresp.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -31%;
        margin-top: 10%;
    }
    .form-control{
        width: 410px;
        height: 48px;
    }
    .sub-title-title{
        font-size: 18px;
    }
    .btn-custom{
        position: relative;
        width: 150px;
        margin-left: 20%;
        margin-bottom: 10%;
    }
    .container{
        position: absolute;
        margin-top: 465px;
        height: 910px;
        width: 100%;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        position: relative;
        margin-top: -220px;
    }
    .title-blue-div1{
        position: relative;
        font-size: 19px;
        margin-left: 5%;
        margin-top: -10%;
    }
    .title-blue-div2{
        position: relative;
        margin-top: 5%;
        font-size: 27px;
        margin-left: 5%;
    }
    .title-blue-div3{
        position: relative;
        font-size: 16px;
        margin-left: 5%;
    }
    .btn-perso {
        position: relative;
        font-family: 'baloo';
        width: 150px;
        color: white;
        margin-left: 20%;
        margin-bottom: -75%;
    }
    .btn-cad{
        position: relative;
        align-items: center;
        margin-left: -15%;
    }
    .quad-blue{
        position: relative;
        margin-left: 10%;
        margin-bottom: 15%;
        width: 300px;
        height: 150px;
    }
    .custom-file-upload{
        width: 260px;
        height: 120px;
    }
    #msg{
        height: 100px;
    }
    .div-botoes2{
        position: relative;
        left: 10%;
    }
}
@media (min-width:525px) and (max-width: 565px){
    body{
        background-color: #52bacb;
        background-image: url('./imgs/cadresp.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -30%;
        margin-top: 10%;
    }
    .form-control{
        width: 410px;
        height: 40px;
    }
    .sub-title-title{
        font-size: 18px;
    }
    .btn-custom{
        position: relative;
        width: 150px;
        margin-left: 30%;
        margin-bottom: 10%;
    }
    .container{
        position: absolute;
        margin-top: 475px;
        height: 915px;
        width: 100%;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        position: relative;
        margin-top: -240px;
    }
    .title-blue-div1{
        position: relative;
        font-size: 22px;
        margin-left: 5%;
    }
    .title-blue-div2{
        position: relative;
        margin-top: 0%;
        font-size: 33px;
        margin-left: 5%;
    }
    .title-blue-div3{
        position: relative;
        font-size: 18px;
        margin-left: 5%;
    }
    .btn-perso {
        position: relative;
        font-family: 'baloo';
        width: 150px;
        color: white;
        margin-left: 30%;
        margin-bottom: -75%;
    }
    .btn-cad{
        position: relative;
        align-items: center;
        margin-left: -15%;
    }
    .quad-blue{
        position: relative;
        margin-left: 13%;
        margin-bottom: 15%;
        width: 300px;
        height: 150px;
    }
    .custom-file-upload{
        width: 260px;
        height: 120px;
    }
    .btn-perso1{
        position: relative;
        margin-bottom: -48%;
    }
    #msg{
        height: 100px;
    }
    .div-botoes2{
        position: relative;
        left: 1%;
    }
}
@media (min-width:566px) and (max-width: 575px){
    body{
        background-color: #52bacb;
        background-image: url('./imgs/cadresp.jpg');
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .blue-div{
        display: none;
    }
    .title-title{
        display: none;
    }
    .form{
        position: relative;
        margin-left: -30%;
        margin-top: 10%;
    }
    .form-control{
        width: 455px;
        height: 40px;
    }
    .sub-title-title{
        font-size: 18px;
    }
    .btn-custom{
        position: relative;
        width: 150px;
        margin-left: 30%;
        margin-bottom: 10%;
    }
    .container{
        position: absolute;
        margin-top: 490px;
        height: 920px;
        width: 100%;
        border-top-left-radius: 25px; /* Arredonda o canto superior esquerdo */
        border-top-right-radius: 25px; /* Arredonda o canto superior direito */
        border-bottom-left-radius: 0; /* Deixa o canto inferior esquerdo normal */
        border-bottom-right-radius: 0; /* Deixa o canto inferior direito normal */
    }
    .blue-div-resp{
        position: relative;
        margin-top: -240px;
    }
    .title-blue-div1{
        position: relative;
        font-size: 22px;
        margin-left: 5%;
    }
    .title-blue-div2{
        position: relative;
        margin-top: 0%;
        font-size: 33px;
        margin-left: 5%;
    }
    .title-blue-div3{
        position: relative;
        font-size: 18px;
        margin-left: 5%;
    }
    .btn-perso {
        position: relative;
        font-family: 'baloo';
        width: 150px;
        color: white;
        margin-left: 30%;
        margin-bottom: -75%;
    }
    .btn-cad{
        position: relative;
        align-items: center;
        margin-left: -15%;
    }
    .quad-blue{
        position: relative;
        margin-left: 13%;
        margin-bottom: 15%;
        width: 300px;
        height: 150px;
    }
    .custom-file-upload{
        width: 260px;
        height: 120px;
    }
    .btn-perso1{
        position: relative;
        margin-bottom: -48%;
    }
    #msg{
        height: 100px;
    }
    .div-botoes2{
        position: relative;
        left: 1%;
    }
}
@media (min-width:576px) and (max-width: 620px){
   .blue-div{
    width: 200px;
   }
   .title-blue-div1{
        position: relative;
        top: 23%;
   }
   .title-title{
    position: relative;
    font-size: 50px;
    left: 7%;
   }
   .titulo{
    display: none;
   }
   .sub-title-title{
    position: relative;
    font-size: 15px;
    width: 330px;
    left: 7%;
   }
   .title-blue-div2{
    position: relative;
    top: 33%;
    width: 180px;
   }
   .title-blue-div3{
    position: relative;
    top: 33%;
    width: 180px;
   }
   .form{
    position: relative;
    top: 20%;
   }
   .form-control{
    position: relative;
    width: 250px;
    height: 45px;
    left: 7%;
   }
   .container{
    height: 1050px;
   }
   .btn-cad{
    position: relative;
    margin-top: -135%;
    left: -38%;
    width: 130px;
   }
   .btn-perso{
    width: 130px;
   }
   .btn-custom{
    width: 130px;
   }
   .div-botoes{
    position: relative;
    bottom: -25px;
   }
   .quad-blue{
    position: relative;
    left: -20%;
   }
   .title-sucesso{
    position: relative;
    left: 5%;
    width: 300px;
   }
   .p{
    position: relative;
    left: 5%;
    width: 250px;
   }
   .div-botoes2{
    position: relative;
    left: 5%;
   }
   #etapa6{
    position: relative;
    top: 30px;
   }
}
@media (min-width:620px) and (max-width: 767px){
    .blue-div{
        width: 200px;
       }
       .title-blue-div1{
            position: relative;
            top: 23%;
       }
       .title-title{
        position: relative;
        font-size: 50px;
        left: 7%;
       }
       .titulo{
        display: none;
       }
       .sub-title-title{
        position: relative;
        font-size: 15px;
        width: 330px;
        left: 7%;
       }
       .title-blue-div2{
        position: relative;
        top: 33%;
        width: 180px;
       }
       .title-blue-div3{
        position: relative;
        top: 33%;
        width: 180px;
       }
       .form{
        position: relative;
        top: 20%;
       }
       .form-control{
        position: relative;
        width: 250px;
        height: 45px;
        left: 7%;
       }
       .container{
        height: 1050px;
       }
       .btn-cad{
        position: relative;
        margin-top: -135%;
        left: -38%;
        width: 130px;
       }
       .btn-perso{
        width: 130px;
       }
       .btn-custom{
        width: 130px;
       }
       .div-botoes{
        position: relative;
        bottom: -25px;
       }
       .quad-blue{
        position: relative;
        left: -20%;
       }
       .title-sucesso{
        position: relative;
        left: 5%;
        width: 300px;
       }
       .p{
        position: relative;
        left: 5%;
        width: 250px;
       }
       .div-botoes2{
        position: relative;
        left: 5%;
       }
       #etapa6{
        position: relative;
        top: 30px;
       }
}
@media (min-width:768px) and (max-width: 991px){
    .blue-div{
        width: 230px;
    }
    .form-control{
        width: 200px;
    }
    .title-blue-div1{
        position: relative;
        top: 20px;
    }
    .title-title{
        font-size: 53px;
    }
    .sub-title-title{
        font-size: 16px;
    }
    .btn-cad{
        position: relative;
        left: -25%;
    }
    .div-botoes{
        position: relative;
        left: -8%;
        top: 50px;
    }
    .quad-blue{
        position: relative;
        left: -10%;
    }
    .add{
        width: 420px;
    }
    .form-control1{
        position: relative;
        left: -36%;
        font-size: 15px;
        top: 10px;
    }
    #etapa4{
        position: relative;
        left: -3%;
    }
    .title-sucesso{
        width: 300px;
    }
    p{
        width: 350px;
    }
    .div-botoes2{
        position: relative;
        top: 25px;
    }
}

