@media (min-width:310px) and (max-width: 450px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    body{
        background-color: white;
    }
    .blue-div{
        display: none;
    }
    .container{
        box-shadow: none;
    }
    #title{
        font-size: 45px;
        position: relative;
        left: 25px;
    }
    #subtitle{
        font-size: 15px;
        width: 300px;
        position: relative;
        left: 35px;
    }
    .btn-verificar{
        position: relative;
        left: 10px;
    }
    #mes, #ano, #pet, .selecionar-servico{
        width: 120px;
    }
    #form-inline{
        position: relative;
        left: 50px;
        width: 300px;
    }
    .span-custo{
        position: relative;
        left: 30px;
        width: 300px;
        text-align: center;
    }
    #agendamento{
        width: 250px;
    }
    .form-inline{
        position: relative;
        left: 50px;
        top: 5px;
        width: 300px;
    }
    .span-erro{
        font-size: 11px;
        position: relative;
        left: 20px;
    }
    .btn-confirmar{
        position: relative;
        left: 60px;
    }
}
@media (min-width:451px) and (max-width: 600px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    body{
        background-color: white;
    }
    .blue-div{
        display: none;
    }
    .container{
        box-shadow: none;
    }
    #title{
        font-size: 55px;
        position: relative;
        left: -5px;
    }
    #subtitle{
        font-size: 15px;
        width: 400px;
        position: relative;
        left: -5px;
    }
    .btn-verificar{
        position: relative;
        left: 10px;
    }
    #mes, #ano, #pet, .selecionar-servico{
        width: 120px;
    }
    #form-inline{
        position: relative;
        left: 60px;
        width: 300px;
    }
    .span-custo{
        position: relative;
        left: 35px;
        width: 300px;
        text-align: center;
    }
    #agendamento{
        width: 250px;
    }
    .form-inline{
        position: relative;
        left: 60px;
        top: 5px;
        width: 300px;
    }
    .span-erro{
        font-size: 13px;
        position: relative;
        left: -5px;
    }
    .btn-confirmar{
        position: relative;
        left: 70px;
    }
}
@media (min-width:601px) and (max-width: 774px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    body{
        background-color: white;
    }
    .blue-div{
        display: none;
    }
    .container{
        box-shadow: none;
    }
    #title{
        font-size: 60px;
        position: relative;
        left: -25px;
    }
    #subtitle{
        font-size: 16px;
        position: relative;
        left: -60px;
    }
    .btn-verificar{
        position: relative;
        left: 10px;
    }
    #mes, #ano, #pet, .selecionar-servico{
        width: 120px;
    }
    #form-inline{
        position: relative;
        left: 60px;
        width: 300px;
    }
    .span-custo{
        position: relative;
        left: -80px;
        text-align: center;
    }
    #agendamento{
        width: 250px;
    }
    .form-inline{
        position: relative;
        left: 60px;
        top: 5px;
        width: 300px;
    }
    .span-erro{
        font-size: 16px;
        position: relative;
        left: -45px;
    }
    .btn-confirmar{
        position: relative;
        left: 70px;
    }
}
@media (min-width:775px) and (max-width: 1000px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    body{
        background-color: white;
    }
    .blue-div{
        display: none;
    }
    .container{
        box-shadow: none;
    }
    #title{
        font-size: 60px;
        position: relative;
        left: -25px;
    }
    #subtitle{
        font-size: 16px;
        position: relative;
        left: -60px;
    }
    .btn-verificar{
        position: relative;
        left: 10px;
    }
    #mes, #ano, #pet, .selecionar-servico{
        width: 120px;
    }
    #form-inline{
        position: relative;
        left: -65px;
    }
    .span-custo{
        position: relative;
        left: -80px;
        text-align: center;
    }
    #agendamento{
        width: 250px;
    }
    .form-inline{
        position: relative;
        left: -65px;
        top: 5px;
    }
    .span-erro{
        font-size: 16px;
        position: relative;
        left: -45px;
    }
    .btn-confirmar{
        position: relative;
        left: -60px;
    }
}
@media (min-width:1001px) and (max-width: 1920px){
    .container{
        height: 100%;
    }
    #title{
        position: relative;
        top: -20px;
    }
    #subtitle{
        position: relative;
        top: -50px;
    }
    #form-inline{
        position: relative;
        top: -50px;
    }
    .btn-verificar{
        position: relative;
        top: 10px;
    }
    .form-inline{
        position: relative;
        top: -20px;
    }
    .btn-confirmar{
        position: relative;
        top: -35px;
    }
    .span-custo{
        position: relative;
        top: -75px;
    }
}


