@media (min-width:310px) and (max-width: 350px){
    html,
    body {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }
    body{
        background-color: #52cacb;
        background-image: none;
    }
    #title{
        display: none;
    }
    .container{
        background-color: white;
        background-image: url('imgs/castracao.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: calc(100%) calc(50% - -280px); 
        margin: 0;
        width: 100%;
        height: 100vh;
        border-radius: 20px;
        margin-top: 90px;
    }
    .resp{
        text-align: center;
        font-family: baloo;
        font-size: 30px;
        line-height: 1.1;
        color: white;
        position: relative;
        top: 45px;
    }
    .sub{
        color: #747474 !important;
        font-weight: 600 !important;
        font-size: 20px !important;
        text-align: center;
        width: 200px;
        position: relative;
        top: 40px;
        left: 75px;
    }
    #p1{
        color: #747474;
        text-align: center;
        width: 300px;
        position: relative;
        left: 5px;
        top: 38px;
    }
    .sub1{
        color: #747474 !important;
        font-weight: 600 !important;
        font-size: 20px !important;
        text-align: center;
        width: 200px;
        position: relative;
        top: 45px;
        left: 60px;
    }
    #p2{
        color: #747474;
        text-align: center;
        width: 300px;
        position: relative;
        left: 5px;
        top: 40px;
    }
    .btn-custom{
        position: relative;
        left: 40px;

    }
}
